Repository argumentcomputer/lurk-beta, changes with the owners that .github/CODEOWNERS names for each.
All owners: @lurk-lab/lurk-noncircuit, @lurk-lab/lurk-ci, @lurk-lab/lurk-circuit, @lurk-lab/lurk-lem, @porcuquine

Renamed `match_ptr` -> `match_var`
  src/lem/circuit.rs
  src/lem/interpreter.rs
  src/lem/path.rs
Owners: @lurk-lab/lurk-lem

Circuit optimizations
  src/lem/circuit.rs
  src/lem/eval.rs
Owners: @lurk-lab/lurk-lem

Fix ZStore roundtrip in get_z_expr
  fcomm/src/bin/fcomm.rs
  src/store.rs
  src/z_data/z_expr.rs
  src/z_data/z_store.rs
Owners: @lurk-lab/lurk-noncircuit

safer BoundAllocations
  src/lem/circuit.rs
Owners: @lurk-lab/lurk-lem

drop redundant constraints; no need for bindings data on circuit
  src/circuit/gadgets/constraints.rs
  src/lem/circuit.rs
  src/lem/eval.rs
  src/lem/mod.rs
Owners: @lurk-lab/lurk-circuit, @lurk-lab/lurk-lem

further simplify LEMOP::Null; no more peeking at the bindings!
  src/circuit/gadgets/constraints.rs
  src/lem/circuit.rs
  src/lem/eval.rs
  src/lem/mod.rs
Owners: @lurk-lab/lurk-circuit, @lurk-lab/lurk-lem

simplify frame
  src/lem/circuit.rs
  src/lem/eval.rs
  src/lem/interpreter.rs
  src/lem/mod.rs
  src/lem/path.rs
Owners: @lurk-lab/lurk-lem

feat: document MSRV + iImplement MSRV check in GitHub workflow
  .github/workflows/rust.yml
  Cargo.toml
Owners: @lurk-lab/lurk-ci, @lurk-lab/lurk-noncircuit

Refactor dependencies to use workspace versions
  Cargo.toml
  clutch/Cargo.toml
  fcomm/Cargo.toml
  lurk-macros/Cargo.toml
Owners: @lurk-lab/lurk-noncircuit

Use workspace dependencies (#473)
  .github/workflows/rust.yml
  Cargo.toml
  clutch/Cargo.toml
  fcomm/Cargo.toml
  lurk-macros/Cargo.toml
Owners: @lurk-lab/lurk-ci, @lurk-lab/lurk-noncircuit

chore: setup dependencies on dev forks
  Cargo.lock
  Cargo.toml
Owners: @lurk-lab/lurk-noncircuit

chore: adapt to upstream Nova changes (#462)
  Cargo.lock
  src/proof/nova.rs
Owners: @lurk-lab/lurk-noncircuit

checkpoint3
  Cargo.lock
  Cargo.toml
  examples/sha256_serde.rs
  src/hash.rs
  src/proof/nova.rs
  src/public_parameters/mod.rs
  src/public_parameters/registry.rs
  src/store.rs
Owners: @lurk-lab/lurk-noncircuit

fix missing args, todo unhack later
  benches/end2end.rs
  clutch/src/lib.rs
  examples/sha256.rs
  examples/sha256_serde.rs
  fcomm/src/bin/fcomm.rs
Owners: @lurk-lab/lurk-noncircuit

add timing features, mmap attempt
  examples/sha256.rs
  src/public_parameters/file_map.rs
  src/public_parameters/mod.rs
  src/public_parameters/registry.rs
Owners: @lurk-lab/lurk-noncircuit

fix
  benches/fibonacci.rs
Owners: @lurk-lab/lurk-noncircuit

attempt to use closures
  src/public_parameters/mod.rs
Owners: @lurk-lab/lurk-noncircuit

attempt to use closures
  Cargo.lock
  Cargo.toml
  src/public_parameters/registry.rs
Owners: @lurk-lab/lurk-noncircuit

utlra fast param decoding
  Cargo.lock
  examples/sha256.rs
  src/public_parameters/file_map.rs
  src/public_parameters/mod.rs
  src/public_parameters/registry.rs
Owners: @lurk-lab/lurk-noncircuit

match APIs, bugfix
  src/public_parameters/registry.rs
Owners: @lurk-lab/lurk-noncircuit

cargo fmt
  benches/end2end.rs
  examples/sha256.rs
  src/proof/nova.rs
  src/public_parameters/file_map.rs
  src/public_parameters/mod.rs
  src/public_parameters/registry.rs
Owners: @lurk-lab/lurk-noncircuit

add a Clone
  src/hash.rs
Owners: @lurk-lab/lurk-noncircuit

refactor: Enhance error handling in `get_with_timing` method
  src/proof/nova.rs
  src/public_parameters/file_map.rs
Owners: @lurk-lab/lurk-noncircuit

chore: clippy
  src/proof/nova.rs
  src/public_parameters/file_map.rs
  src/public_parameters/registry.rs
Owners: @lurk-lab/lurk-noncircuit

LEM hash slots implementation (#427)
  src/circuit/circuit_frame.rs
  src/circuit/gadgets/constraints.rs
  src/circuit/gadgets/data.rs
  src/circuit/gadgets/pointer.rs
  src/lem/circuit.rs
  src/lem/constrainer.rs
  src/lem/eval.rs
  src/lem/interpreter.rs
  src/lem/macros.rs
  src/lem/mod.rs
  src/lem/path.rs
  src/lem/pointers.rs
  src/lem/store.rs
  src/lem/symbol.rs
  src/lem/tag.rs
Owners: @lurk-lab/lurk-circuit, @lurk-lab/lurk-lem

remove Path from Frame; implement VarMap; address FG's suggestions from #427
  src/lem/circuit.rs
  src/lem/eval.rs
  src/lem/interpreter.rs
  src/lem/mod.rs
  src/lem/path.rs
  src/lem/var_map.rs
Owners: @lurk-lab/lurk-lem

renames the lurkrs binary to just lurk (#469)
  Cargo.toml
  README.md
  bin/lurk
  clutch/README.md
  clutch/tests/clutch-smoke-test.rs
  notes/reduction-notes.md
  tests/lurkrs-smoke-test.rs
Owners: @lurk-lab/lurk-noncircuit

refactor Symbol and Keyword representation
  clutch/src/lib.rs
  src/eval/lang.rs
  src/eval/tests/mod.rs
  src/expr.rs
  src/package.rs
  src/parser/syntax.rs
  src/proof/nova.rs
  src/repl.rs
  src/store.rs
  src/symbol.rs
  src/syntax.rs
  src/syntax_macros.rs
  src/writer.rs
  src/z_data/z_expr.rs
  src/z_data/z_store.rs
Owners: @lurk-lab/lurk-noncircuit, @porcuquine

clippy
  src/symbol.rs
Owners: @lurk-lab/lurk-noncircuit

remove unused package.rs
  src/package.rs
Owners: @lurk-lab/lurk-noncircuit

some cosmetic changes; improve some docstrings
  src/symbol.rs
Owners: @lurk-lab/lurk-noncircuit

Use of Result instead of panic
  src/lem/circuit.rs
  src/lem/interpreter.rs
  src/lem/mod.rs
  src/lem/path.rs
  src/lem/var_map.rs
Owners: @lurk-lab/lurk-lem

rustfmt
  src/lem/path.rs
Owners: @lurk-lab/lurk-lem

removed unnecessary code
  src/lem/circuit.rs
Owners: @lurk-lab/lurk-lem

removed one unnecessary clone
  src/lem/path.rs
Owners: @lurk-lab/lurk-lem

apply suggestions
  src/lem/path.rs
  src/lem/var_map.rs
Owners: @lurk-lab/lurk-lem

remove outdated tests for zdata
  src/eval/reduction.rs
  tests/exprs/Comm0Nil.expr
  tests/exprs/ConsNilNil.expr
  tests/exprs/Nil.expr
  tests/exprs/StrConsNilNil.expr
  tests/exprs/SymConsNilNil.expr
  tests/ldstores/foo.ldstore
  tests/ldstores/id.ldstore
  tests/z-data-exprs.rs
  tests/z-data-store.rs
Owners: @porcuquine, @lurk-lab/lurk-noncircuit

add some extra test cases for src/parser/syntar.rs
  src/parser/syntax.rs
Owners: @lurk-lab/lurk-noncircuit

fmt
  src/parser/syntax.rs
Owners: @lurk-lab/lurk-noncircuit

More LEM cleanup (#476)
  src/lem/circuit.rs
  src/lem/eval.rs
  src/lem/interpreter.rs
  src/lem/mod.rs
  src/lem/path.rs
  src/lem/var_map.rs
Owners: @lurk-lab/lurk-lem

.github/CODEOWNERS:

# Global Owners: @porcuquine, @huitseeker
* @lurk-lab/lurk-noncircuit

# CI maintenance
/.circleci/** @lurk-lab/lurk-ci
/.config/** @lurk-lab/lurk-ci
/.github/** @lurk-lab/lurk-ci

# Circuit
/src/circuit/** @lurk-lab/lurk-circuit

# LEM
/src/lem/** @lurk-lab/lurk-lem

# Order is important; the last matching pattern takes the most
# precedence. This excludes @everyone but @porcuquine for /src/eval.rs
/src/eval/** @porcuquine
