Repository argumentcomputer/lurk-beta, changes with the owners that .github/CODEOWNERS names for each.
All owners: @lurk-lab/lurk-noncircuit, @lurk-lab/lurk-ci, @lurk-lab/lurk-circuit, @lurk-lab/lurk-lem, @porcuquine

.github/CODEOWNERS:

# Global Owners: @porcuquine, @huitseeker
* @lurk-lab/lurk-noncircuit

# CI maintenance
/.circleci/** @lurk-lab/lurk-ci
/.config/** @lurk-lab/lurk-ci
/.github/** @lurk-lab/lurk-ci

# Circuit
/src/circuit/** @lurk-lab/lurk-circuit

# LEM
/src/lem/** @lurk-lab/lurk-lem

# Order is important; the last matching pattern takes the most
# precedence. This excludes @everyone but @porcuquine for /src/eval.rs
/src/eval/** @porcuquine

Remove comment and dbg
  src/lem/constrainer.rs
Owners: @lurk-lab/lurk-lem

Remove repeated fors
  src/lem/constrainer.rs
Owners: @lurk-lab/lurk-lem

chore: Upgrade rust toolchain to 1.70 (#435)
  .circleci/config.yml
  fcomm/tests/makefile_tests.rs
  flake.nix
  lurk-macros/tests/lurk_macro_test.rs
  rust-toolchain
  rust-toolchain.toml
  src/circuit/circuit_frame.rs
  src/store.rs
Owners: @lurk-lab/lurk-ci, @lurk-lab/lurk-noncircuit, @lurk-lab/lurk-circuit

clippy + fmt
  src/lem/constrainer.rs
  src/lem/mod.rs
Owners: @lurk-lab/lurk-lem

Run workflow manually
  .github/workflows/pr_bench.yml
Owners: @lurk-lab/lurk-ci

take 'compute_max_hashes' out of unecessary loops
  src/lem/constrainer.rs
  src/lem/eval.rs
  src/lem/mod.rs
Owners: @lurk-lab/lurk-lem

deploy: e56def7acef9860fef74e4eb457385961cb4817e
  docs/src/lurk/circuit/circuit_frame.rs.html
  docs/src/lurk/store.rs.html
Owners: @lurk-lab/lurk-noncircuit

optimize 'compute_max_hashes'
  src/lem/mod.rs
Owners: @lurk-lab/lurk-lem

Refactor Hash2, Hash3, Hash4
  src/lem/constrainer.rs
Owners: @lurk-lab/lurk-lem

Run benchmark on PR comment
  .cargo/config
  .github/workflows/pr_bench.yml
Owners: @lurk-lab/lurk-noncircuit, @lurk-lab/lurk-ci

Add permissions
  .github/workflows/pr_bench.yml
Owners: @lurk-lab/lurk-ci

Run PR benchmarking workflow manually (#436)
  .cargo/config
  .github/workflows/pr_bench.yml
Owners: @lurk-lab/lurk-noncircuit, @lurk-lab/lurk-ci

Unify hash max slots
  src/lem/constrainer.rs
  src/lem/eval.rs
  src/lem/mod.rs
Owners: @lurk-lab/lurk-lem

refactor: Run clippy at rust 1.70
  src/circuit/gadgets/constraints.rs
  src/coprocessor/mod.rs
  src/coprocessor/trie/mod.rs
  src/eval/mod.rs
  src/eval/tests/mod.rs
  src/eval/tests/trie.rs
  src/light_data/mod.rs
  src/proof/nova.rs
  src/scalar_store.rs
  tests/light-data-store.rs
Owners: @lurk-lab/lurk-circuit, @lurk-lab/lurk-noncircuit, @porcuquine

fix: do not run rust job on merge group (CircleCI has it)
  .github/workflows/rust.yml
Owners: @lurk-lab/lurk-ci

Fix syntax error
  .github/workflows/pr_bench.yml
Owners: @lurk-lab/lurk-ci

small simplification
  src/lem/constrainer.rs
  src/lem/eval.rs
  src/lem/mod.rs
Owners: @lurk-lab/lurk-lem

eliminate code repetition from tests
  src/lem/mod.rs
Owners: @lurk-lab/lurk-lem

kill repeated code with macros
  src/lem/constrainer.rs
Owners: @lurk-lab/lurk-lem

Fix syntax error (#438)
  .github/workflows/pr_bench.yml
Owners: @lurk-lab/lurk-ci

Bring circuit uniformity back
  src/lem/constrainer.rs
  src/lem/eval.rs
  src/lem/mod.rs
Owners: @lurk-lab/lurk-lem

fmt
  src/lem/constrainer.rs
  src/lem/mod.rs
Owners: @lurk-lab/lurk-lem

Add macro to constrain slot
  src/lem/constrainer.rs
Owners: @lurk-lab/lurk-lem

Add comments
  src/lem/constrainer.rs
Owners: @lurk-lab/lurk-lem

some other code simplifications and docstrings
  src/lem/constrainer.rs
  src/lem/eval.rs
  src/lem/mod.rs
Owners: @lurk-lab/lurk-lem

remove some clones
  src/lem/constrainer.rs
  src/lem/eval.rs
  src/lem/mod.rs
Owners: @lurk-lab/lurk-lem

fix hydration of comm pointers
  src/lem/pointers.rs
  src/lem/store.rs
Owners: @lurk-lab/lurk-lem

some renamings and other small adjustments
  src/lem/constrainer.rs
Owners: @lurk-lab/lurk-lem

Fix license formatting
  LICENSE-APACHE
  LICENSE-MIT
Owners: @lurk-lab/lurk-noncircuit

avoid some hashmap lookups
  src/lem/constrainer.rs
Owners: @lurk-lab/lurk-lem

Update comments
  src/lem/constrainer.rs
Owners: @lurk-lab/lurk-lem

Adjust comments
  src/lem/constrainer.rs
Owners: @lurk-lab/lurk-lem

refactor: Run clippy at rust 1.70 (#437)
  .github/workflows/rust.yml
  src/circuit/gadgets/constraints.rs
  src/coprocessor/mod.rs
  src/coprocessor/trie/mod.rs
  src/eval/mod.rs
  src/eval/tests/mod.rs
  src/eval/tests/trie.rs
  src/light_data/mod.rs
  src/proof/nova.rs
  src/scalar_store.rs
  tests/light-data-store.rs
Owners: @lurk-lab/lurk-ci, @lurk-lab/lurk-circuit, @lurk-lab/lurk-noncircuit, @porcuquine

Fix branch comparison, remove unneeded permissions
  .github/workflows/pr-bench.yml
Owners: @lurk-lab/lurk-ci

Fix license formatting (#439)
  LICENSE-APACHE
  LICENSE-MIT
Owners: @lurk-lab/lurk-noncircuit

Clippy 1.70
  src/coprocessor/mod.rs
  tests/light-data-exprs.rs
Owners: @lurk-lab/lurk-noncircuit

style: Improve Clippy settings across multiple directories
  .clippy.toml
  clutch/.clippy.toml
  fcomm/.clippy.toml
  lurk-macros/.clippy.toml
Owners: @lurk-lab/lurk-noncircuit

Fix branch comparison, remove unneeded permissions (#440)
  .github/workflows/pr-bench.yml
Owners: @lurk-lab/lurk-ci

ci: make checkouts recursive
  .github/workflows/rust.yml
Owners: @lurk-lab/lurk-ci

eliminate code repetition in 'deconflict'
  src/lem/mod.rs
Owners: @lurk-lab/lurk-lem
