Repository argumentcomputer/lurk-beta, changes with the owners that .github/CODEOWNERS names for each.
All owners: @lurk-lab/lurk-noncircuit, @lurk-lab/lurk-ci, @lurk-lab/lurk-circuit, @lurk-lab/lurk-lem, @porcuquine

match_tag macro works
  src/lem/macros.rs
Owners: @lurk-lab/lurk-lem

Add synthesis benchmark.
  Cargo.toml
  benches/synthesis.rs
  src/circuit/mod.rs
  src/proof/groth16.rs
Owners: @lurk-lab/lurk-noncircuit, @lurk-lab/lurk-circuit

lem macro to wrap inputs
  src/lem/eval.rs
  src/lem/macros.rs
  src/lem/mod.rs
Owners: @lurk-lab/lurk-lem

Complete hash slots with dummies
  src/lem/constrainer.rs
  src/lem/eval.rs
  src/lem/mod.rs
Owners: @lurk-lab/lurk-lem

overlapping with Rust syntax for syntax highlights
  src/lem/constrainer.rs
  src/lem/eval.rs
  src/lem/interpreter.rs
  src/lem/macros.rs
  src/lem/mod.rs
Owners: @lurk-lab/lurk-lem

Implement slot hash enforcement
  src/lem/constrainer.rs
  src/lem/mod.rs
Owners: @lurk-lab/lurk-lem

Add synthesis benchmark. (#415)
  Cargo.toml
  benches/synthesis.rs
  src/circuit/mod.rs
  src/proof/groth16.rs
Owners: @lurk-lab/lurk-noncircuit, @lurk-lab/lurk-circuit

adopt review suggestions
  src/lem/macros.rs
  src/lem/mod.rs
Owners: @lurk-lab/lurk-lem

more documentation; get rid of 'shortcuts' because we have macros
  src/lem/macros.rs
  src/lem/mod.rs
Owners: @lurk-lab/lurk-lem

fix
  benches/end2end.rs
  benches/fibonacci.rs
Owners: @lurk-lab/lurk-noncircuit

add comments
  benches/end2end.rs
  benches/public_params.rs
Owners: @lurk-lab/lurk-noncircuit

cargo fmt
  benches/end2end.rs
  benches/public_params.rs
Owners: @lurk-lab/lurk-noncircuit

fmt and clear panics
  src/lem/constrainer.rs
  src/lem/mod.rs
Owners: @lurk-lab/lurk-lem

clippy
  src/lem/constrainer.rs
Owners: @lurk-lab/lurk-lem

Implement LEM macros (#413)
  src/lem/constrainer.rs
  src/lem/eval.rs
  src/lem/interpreter.rs
  src/lem/macros.rs
  src/lem/mod.rs
Owners: @lurk-lab/lurk-lem

deploy: 73973f6443aba7027ea41e56837bda27d9f01b12
  docs/implementors/core/clone/trait.Clone.js
  docs/implementors/core/cmp/trait.PartialEq.js
  docs/implementors/core/marker/trait.StructuralPartialEq.js
  docs/lurk/all.html
  docs/lurk/index.html
  docs/lurk/lem/enum.LEMOP.html
  docs/lurk/lem/index.html
  docs/lurk/lem/struct.LEM.html
  docs/lurk/lem/struct.MetaPtr.html
  docs/lurk/lem/struct.Witness.html
  docs/lurk/macro.lem!.html
  docs/lurk/macro.lem.html
  docs/lurk/macro.lemop!.html
  docs/lurk/macro.lemop.html
  docs/lurk/macro.metaptr!.html
  docs/lurk/macro.metaptr.html
  docs/lurk/macro.metaptrs!.html
  docs/lurk/macro.metaptrs.html
  docs/lurk/sidebar-items.js
  docs/search-index.js
  docs/source-files.js
  docs/src/lurk/lem/constrainer.rs.html
  docs/src/lurk/lem/eval.rs.html
  docs/src/lurk/lem/interpreter.rs.html
  docs/src/lurk/lem/macros.rs.html
  docs/src/lurk/lem/mod.rs.html
Owners: @lurk-lab/lurk-noncircuit

update some docstrings in lem/store.rs
  src/lem/store.rs
Owners: @lurk-lab/lurk-lem

remove bad opaque dereference
  src/store.rs
Owners: @lurk-lab/lurk-noncircuit

disable makefile_tests which are broken on master
  fcomm/tests/makefile_tests.rs
  fcomm/tests/proof_tests.rs
Owners: @lurk-lab/lurk-noncircuit

add TODOs for opaque dereference
  src/store.rs
Owners: @lurk-lab/lurk-noncircuit

small error message improvement
  src/public_parameters/error.rs
  src/public_parameters/mod.rs
  src/public_parameters/registry.rs
  src/store.rs
Owners: @lurk-lab/lurk-noncircuit

replace some unwraps with expects
  fcomm/src/bin/fcomm.rs
  fcomm/tests/proof_tests.rs
Owners: @lurk-lab/lurk-noncircuit

some temporary debugs and printing shims
  src/proof/nova.rs
  src/public_parameters/mod.rs
  src/store.rs
Owners: @lurk-lab/lurk-noncircuit

Include unit test for nested match tags
  src/lem/mod.rs
  src/lem/tag.rs
Owners: @lurk-lab/lurk-lem

extend 'AllocationManager' to deal with pointers as well
  src/lem/constrainer.rs
Owners: @lurk-lab/lurk-lem

docs: Improve pull request merge guidelines
  CONTRIBUTING.md
Owners: @lurk-lab/lurk-noncircuit

test: Add a test for enforce_implication_lc
  src/circuit/gadgets/constraints.rs
Owners: @lurk-lab/lurk-circuit

Add minimal chained fcomm unit tests
  src/public_parameters/mod.rs
Owners: @lurk-lab/lurk-noncircuit

docs: Improve pull request merge guidelines (#418)
  CONTRIBUTING.md
Owners: @lurk-lab/lurk-noncircuit

Implement Unhash2
  src/lem/constrainer.rs
  src/lem/mod.rs
Owners: @lurk-lab/lurk-lem

fix some macros + implement deconflict for LEMOP::Unhash2
  src/lem/constrainer.rs
  src/lem/macros.rs
  src/lem/mod.rs
Owners: @lurk-lab/lurk-lem

Fix Unhash
  src/lem/constrainer.rs
Owners: @lurk-lab/lurk-lem

Rename
  src/lem/constrainer.rs
Owners: @lurk-lab/lurk-lem

implement 'deconflict' for Unhash3 and Unhash4
  src/lem/mod.rs
Owners: @lurk-lab/lurk-lem

Implement hash3
  src/lem/constrainer.rs
  src/lem/mod.rs
Owners: @lurk-lab/lurk-lem

Implement Unhash3
  src/lem/constrainer.rs
  src/lem/mod.rs
Owners: @lurk-lab/lurk-lem

fmt + clippy
  src/lem/constrainer.rs
  src/lem/mod.rs
Owners: @lurk-lab/lurk-lem

Proptest fcomm types into oblivion
  src/eval/mod.rs
  src/field.rs
  src/public_parameters/mod.rs
  src/store.rs
  src/z_data/#z_id.rs#
  src/z_data/z_cont.rs
  src/z_data/z_expr.rs
  src/z_data/z_ptr.rs
  src/z_data/z_store.rs
Owners: @porcuquine, @lurk-lab/lurk-noncircuit

refactor: Avoid unnecessary cloning of lang parameter
  benches/synthesis.rs
  src/circuit/circuit_frame.rs
  src/hash.rs
  src/proof/groth16.rs
  src/proof/nova.rs
Owners: @lurk-lab/lurk-noncircuit, @lurk-lab/lurk-circuit

refactor: Reduce cloning in LEM
  src/lem/interpreter.rs
  src/lem/mod.rs
  src/lem/symbol.rs
Owners: @lurk-lab/lurk-lem

.github/CODEOWNERS:

# Global Owners: @porcuquine, @huitseeker
* @lurk-lab/lurk-noncircuit

# CI maintenance
/.circleci/** @lurk-lab/lurk-ci
/.config/** @lurk-lab/lurk-ci
/.github/** @lurk-lab/lurk-ci

# Circuit
/src/circuit/** @lurk-lab/lurk-circuit

# LEM
/src/lem/** @lurk-lab/lurk-lem

# Order is important; the last matching pattern takes the most
# precedence. This excludes @everyone but @porcuquine for /src/eval.rs
/src/eval/** @porcuquine
