Repository argumentcomputer/lurk-beta, changes with the owners that .github/CODEOWNERS names for each.
All owners: @lurk-lab/lurk-noncircuit, @lurk-lab/lurk-ci, @lurk-lab/lurk-circuit, @lurk-lab/lurk-lem, @porcuquine

.github/CODEOWNERS:

# Global Owners: @porcuquine, @huitseeker
* @lurk-lab/lurk-noncircuit

# CI maintenance
/.circleci/** @lurk-lab/lurk-ci
/.config/** @lurk-lab/lurk-ci
/.github/** @lurk-lab/lurk-ci

# Circuit
/src/circuit/** @lurk-lab/lurk-circuit

# LEM
/src/lem/** @lurk-lab/lurk-lem

# Order is important; the last matching pattern takes the most
# precedence. This excludes @everyone but @porcuquine for /src/eval.rs
/src/eval/** @porcuquine

eval refactor
  src/lem/eval.rs
Owners: @lurk-lab/lurk-lem

Progress on Unop cases
  src/lem/circuit.rs
  src/lem/eval.rs
  src/lem/mod.rs
Owners: @lurk-lab/lurk-lem

Added literals to LEM
  src/lem/circuit.rs
  src/lem/eval.rs
  src/lem/interpreter.rs
  src/lem/macros.rs
  src/lem/mod.rs
  src/lem/path.rs
Owners: @lurk-lab/lurk-lem

Removed `IfNotEq` in favour of a macro approach
  src/lem/circuit.rs
  src/lem/interpreter.rs
  src/lem/macros.rs
  src/lem/mod.rs
  src/lem/path.rs
Owners: @lurk-lab/lurk-lem

No need for `intern_matched_symbols` anymore
  src/lem/eval.rs
  src/lem/mod.rs
Owners: @lurk-lab/lurk-lem

Added literal values to LEM
  src/lem/circuit.rs
  src/lem/interpreter.rs
  src/lem/macros.rs
  src/lem/mod.rs
  src/lem/path.rs
Owners: @lurk-lab/lurk-lem

Updates to macro
  src/lem/eval.rs
  src/lem/macros.rs
Owners: @lurk-lab/lurk-lem

Add rust-cache action for cargo-msrv (#558)
  .github/workflows/pr-test.yml
  .github/workflows/rust.yml
Owners: @lurk-lab/lurk-ci

Claim hash is no longer the proof id (#552)
  src/cli/commitment.rs
  src/cli/lurk_proof.rs
  src/cli/repl.rs
  src/eval/reduction.rs
  src/field.rs
  src/store.rs
Owners: @lurk-lab/lurk-noncircuit, @porcuquine

Match on literals implemented
  src/lem/eval.rs
  src/lem/macros.rs
Owners: @lurk-lab/lurk-lem

WIP using Lurk's tags instead of custom tags
  src/lem/macros.rs
  src/lem/mod.rs
  src/lem/path.rs
  src/lem/pointers.rs
  src/lem/store.rs
  src/lem/tag.rs
Owners: @lurk-lab/lurk-lem

chore: remove uneeded `#[allow(dead_code)]` annotations
  fcomm/src/lib.rs
  src/circuit/circuit_frame.rs
  src/circuit/gadgets/hashes.rs
  src/lem/pointers.rs
Owners: @lurk-lab/lurk-noncircuit, @lurk-lab/lurk-circuit, @lurk-lab/lurk-lem

WIP progress on tags
  src/lem/circuit.rs
  src/lem/interpreter.rs
  src/lem/macros.rs
  src/lem/mod.rs
Owners: @lurk-lab/lurk-lem

chore: remove uneeded `#[allow(dead_code)]` annotations (#561)
  fcomm/src/lib.rs
  src/circuit/circuit_frame.rs
  src/circuit/gadgets/hashes.rs
  src/lem/pointers.rs
Owners: @lurk-lab/lurk-noncircuit, @lurk-lab/lurk-circuit, @lurk-lab/lurk-lem

More progress on tags
  src/lem/eval.rs
  src/lem/macros.rs
  src/lem/mod.rs
Owners: @lurk-lab/lurk-lem

Tags done
  src/lem/circuit.rs
  src/lem/eval.rs
  src/lem/interpreter.rs
  src/lem/macros.rs
  src/lem/mod.rs
  src/lem/path.rs
  src/lem/pointers.rs
Owners: @lurk-lab/lurk-lem

Added `Cast` operation
  src/lem/circuit.rs
  src/lem/eval.rs
  src/lem/interpreter.rs
  src/lem/macros.rs
  src/lem/mod.rs
  src/lem/pointers.rs
Owners: @lurk-lab/lurk-lem

Finished Unop
  src/lem/eval.rs
Owners: @lurk-lab/lurk-lem

test: snapshot testing for serialized Lurk expressions
  Cargo.lock
  fcomm/Cargo.toml
  fcomm/src/lib.rs
  fcomm/src/snapshots/fcomm__test__snapshot_serialized_expressions-2.snap
  fcomm/src/snapshots/fcomm__test__snapshot_serialized_expressions-3.snap
  fcomm/src/snapshots/fcomm__test__snapshot_serialized_expressions-4.snap
  fcomm/src/snapshots/fcomm__test__snapshot_serialized_expressions-5.snap
  fcomm/src/snapshots/fcomm__test__snapshot_serialized_expressions.snap
Owners: @lurk-lab/lurk-noncircuit

chore: use serde_test macro
  Cargo.lock
  fcomm/Cargo.toml
  fcomm/src/lib.rs
Owners: @lurk-lab/lurk-noncircuit

fixup! test: snapshot testing for serialized Lurk expressions
  fcomm/src/lib.rs
Owners: @lurk-lab/lurk-noncircuit

fixup! test: snapshot testing for serialized Lurk expressions
  fcomm/src/lib.rs
Owners: @lurk-lab/lurk-noncircuit

Repair fcomm tests
  fcomm/examples/Makefile
  fcomm/examples/chained-request.json
Owners: @lurk-lab/lurk-noncircuit

ci: remove linux (non-release) CircleCI job
  .circleci/config.yml
Owners: @lurk-lab/lurk-ci

Small updates
  src/lem/eval.rs
  src/lem/macros.rs
  src/lem/mod.rs
Owners: @lurk-lab/lurk-lem

ci: repair fcomm, retire plain Linux on CircleCI (#564)
  .circleci/config.yml
  fcomm/examples/Makefile
  fcomm/examples/chained-request.json
Owners: @lurk-lab/lurk-ci, @lurk-lab/lurk-noncircuit

ci: make pr-test ignore pushes to the merge queue
  .github/workflows/pr-test.yml
Owners: @lurk-lab/lurk-ci

ci: make pr-test ignore pushes to the merge queue (#566)
  .github/workflows/pr-test.yml
Owners: @lurk-lab/lurk-ci

test: Stronger fcomm testing (#546)
  Cargo.lock
  fcomm/Cargo.toml
  fcomm/src/lib.rs
  fcomm/src/snapshots/fcomm__test__snapshot_serialized_expressions-2.snap
  fcomm/src/snapshots/fcomm__test__snapshot_serialized_expressions-3.snap
  fcomm/src/snapshots/fcomm__test__snapshot_serialized_expressions-4.snap
  fcomm/src/snapshots/fcomm__test__snapshot_serialized_expressions-5.snap
  fcomm/src/snapshots/fcomm__test__snapshot_serialized_expressions.snap
Owners: @lurk-lab/lurk-noncircuit

Progress on Binop2
  src/lem/eval.rs
Owners: @lurk-lab/lurk-lem

cargo fmt
  src/lem/eval.rs
Owners: @lurk-lab/lurk-lem

Added arithmetic operations
  src/lem/circuit.rs
  src/lem/eval.rs
  src/lem/interpreter.rs
  src/lem/macros.rs
  src/lem/mod.rs
Owners: @lurk-lab/lurk-lem

feat: Implement metrics recording in lurk-metrics package
  Cargo.lock
  Cargo.toml
  lurk-metrics/Cargo.toml
  lurk-metrics/src/data.rs
  lurk-metrics/src/lib.rs
  lurk-metrics/src/recorder.rs
  src/cli/repl.rs
Owners: @lurk-lab/lurk-noncircuit

feat: Integrate lurk-metrics package into project workspace (PoC)
  Cargo.lock
  Cargo.toml
  lurk-metrics/Cargo.toml
  lurk-metrics/src/data.rs
  src/eval/reduction.rs
  src/main.rs
Owners: @lurk-lab/lurk-noncircuit, @porcuquine

`intern_syntax` added
  src/lem/eval.rs
  src/lem/store.rs
Owners: @lurk-lab/lurk-lem

clippy and fmt
  src/lem/store.rs
Owners: @lurk-lab/lurk-lem

PoC integration of Metrics (#569)
  Cargo.lock
  Cargo.toml
  lurk-metrics/Cargo.toml
  lurk-metrics/src/data.rs
  lurk-metrics/src/lib.rs
  lurk-metrics/src/recorder.rs
  src/cli/repl.rs
  src/eval/reduction.rs
  src/main.rs
Owners: @lurk-lab/lurk-noncircuit, @porcuquine

Fixed parsing of nils
  src/lem/eval.rs
  src/lem/store.rs
Owners: @lurk-lab/lurk-lem

Bug fixes and `Emit`
  src/lem/circuit.rs
  src/lem/eval.rs
  src/lem/interpreter.rs
  src/lem/macros.rs
  src/lem/mod.rs
  src/lem/store.rs
Owners: @lurk-lab/lurk-lem

Small bug fix
  src/lem/eval.rs
Owners: @lurk-lab/lurk-lem
