Repository argumentcomputer/lurk-beta, changes with the owners that .github/CODEOWNERS names for each.
All owners: @lurk-lab/lurk-noncircuit, @lurk-lab/lurk-ci, @lurk-lab/lurk-circuit, @lurk-lab/lurk-lem, @porcuquine

add tests for numbers of constraints
  src/lem/mod.rs
Owners: @lurk-lab/lurk-lem

Test number of constraints to assert optimal number of slots
  src/lem/mod.rs
Owners: @lurk-lab/lurk-lem

Remove aux tests
  src/lem/mod.rs
Owners: @lurk-lab/lurk-lem

Merge the two test modifications
  src/lem/mod.rs
Owners: @lurk-lab/lurk-lem

Update README
  src/lem/README.md
Owners: @lurk-lab/lurk-lem

more ergonomic way to test number of constraints
  src/lem/constrainer.rs
  src/lem/eval.rs
  src/lem/mod.rs
Owners: @lurk-lab/lurk-lem

Update comment
  src/lem/constrainer.rs
Owners: @lurk-lab/lurk-lem

Update comment
  src/lem/constrainer.rs
Owners: @lurk-lab/lurk-lem

Comment estimation call
  src/lem/eval.rs
  src/lem/mod.rs
Owners: @lurk-lab/lurk-lem

Rename constrainer file to circuit
  src/lem/circuit.rs
  src/lem/eval.rs
  src/lem/interpreter.rs
  src/lem/mod.rs
Owners: @lurk-lab/lurk-lem

Fmt
  src/lem/interpreter.rs
Owners: @lurk-lab/lurk-lem

progress on estimated_num_constrains
  src/lem/circuit.rs
  src/lem/eval.rs
  src/lem/mod.rs
Owners: @lurk-lab/lurk-lem

Finish computation of num constraints
  src/lem/circuit.rs
  src/lem/eval.rs
  src/lem/mod.rs
Owners: @lurk-lab/lurk-lem

Update bool
  src/lem/circuit.rs
  src/lem/mod.rs
Owners: @lurk-lab/lurk-lem

lowercase package symbols
  src/package.rs
Owners: @lurk-lab/lurk-noncircuit

parser comments and fixes
  src/parser/position.rs
  src/parser/string.rs
  src/parser/syntax.rs
Owners: @lurk-lab/lurk-noncircuit

document 'num_constraints'
  src/lem/circuit.rs
  src/lem/mod.rs
Owners: @lurk-lab/lurk-lem

Update README
  src/lem/README.md
Owners: @lurk-lab/lurk-lem

Adjustments do README
  src/lem/README.md
Owners: @lurk-lab/lurk-lem

rename StrCons/StrNil, SymCons/SymNil to Str/EmptyStr, Sym/RootSym
  clutch/src/lib.rs
  src/eval/reduction.rs
  src/expr.rs
  src/repl.rs
  src/store.rs
  src/syntax.rs
  src/writer.rs
  src/z_data/serde/mod.rs
  src/z_data/z_expr.rs
  src/z_data/z_store.rs
Owners: @lurk-lab/lurk-noncircuit, @porcuquine

remove outdated comment
  src/eval/tests/mod.rs
Owners: @porcuquine

improve parser::base::is_digit
  src/parser/base.rs
Owners: @lurk-lab/lurk-noncircuit

address LurkSym feedback
  src/syntax.rs
  src/syntax_macros.rs
Owners: @lurk-lab/lurk-noncircuit

revove unused store arg
  src/writer.rs
Owners: @lurk-lab/lurk-noncircuit

clippy
  src/writer.rs
Owners: @lurk-lab/lurk-noncircuit

Renaming
  src/lem/circuit.rs
  src/lem/eval.rs
  src/lem/interpreter.rs
  src/lem/macros.rs
  src/lem/mod.rs
  src/lem/path.rs
Owners: @lurk-lab/lurk-lem

no more peeking at the value of 'concrete_path'
  src/lem/README.md
  src/lem/circuit.rs
  src/lem/mod.rs
Owners: @lurk-lab/lurk-lem

some code suggestions
  src/lem/circuit.rs
Owners: @lurk-lab/lurk-lem

Circuit progress
  src/lem/circuit.rs
  src/lem/mod.rs
Owners: @lurk-lab/lurk-lem

Circuit update
  src/lem/circuit.rs
  src/lem/eval.rs
  src/lem/macros.rs
  src/lem/mod.rs
Owners: @lurk-lab/lurk-lem

Added `num_constraints` to circuit.rs
  src/lem/circuit.rs
Owners: @lurk-lab/lurk-lem

Finished circuit.rs
  src/lem/circuit.rs
Owners: @lurk-lab/lurk-lem

Added TODO to check
  src/lem/mod.rs
Owners: @lurk-lab/lurk-lem

more review suggestions
  src/lem/circuit.rs
  src/lem/interpreter.rs
Owners: @lurk-lab/lurk-lem

Code refactor
  src/lem/circuit.rs
Owners: @lurk-lab/lurk-lem

drop alpha-equality deduplications (we want beta-equalities checks later); make Path no longer a String
  src/lem/circuit.rs
  src/lem/mod.rs
  src/lem/path.rs
Owners: @lurk-lab/lurk-lem

safer way to continue conting for 'SlotsCounter'
  src/lem/circuit.rs
Owners: @lurk-lab/lurk-lem

drop README for now
  src/lem/README.md
Owners: @lurk-lab/lurk-lem

some formatting that cargo fmt missed
  src/lem/interpreter.rs
  src/lem/path.rs
Owners: @lurk-lab/lurk-lem

update docstrings
  src/lem/circuit.rs
  src/lem/interpreter.rs
Owners: @lurk-lab/lurk-lem

.github/CODEOWNERS:

# Global Owners: @porcuquine, @huitseeker
* @lurk-lab/lurk-noncircuit

# CI maintenance
/.circleci/** @lurk-lab/lurk-ci
/.config/** @lurk-lab/lurk-ci
/.github/** @lurk-lab/lurk-ci

# Circuit
/src/circuit/** @lurk-lab/lurk-circuit

# LEM
/src/lem/** @lurk-lab/lurk-lem

# Order is important; the last matching pattern takes the most
# precedence. This excludes @everyone but @porcuquine for /src/eval.rs
/src/eval/** @porcuquine
