Repository argumentcomputer/lurk-beta, changes with the owners that .github/CODEOWNERS names for each.
All owners: @lurk-lab/lurk-noncircuit, @lurk-lab/lurk-ci, @lurk-lab/lurk-circuit, @lurk-lab/lurk-lem, @porcuquine

add logging
  examples/sha256.rs
Owners: @lurk-lab/lurk-noncircuit

Progress on `check`
  src/lem/circuit.rs
  src/lem/interpreter.rs
  src/lem/mod.rs
  src/lem/var_map.rs
Owners: @lurk-lab/lurk-lem

constrain preimage and revert cont ptr "fix"
  examples/sha256.rs
Owners: @lurk-lab/lurk-noncircuit

Finished `check`
  src/lem/mod.rs
Owners: @lurk-lab/lurk-lem

Updated documentation
  src/lem/circuit.rs
  src/lem/eval.rs
  src/lem/interpreter.rs
  src/lem/mod.rs
  src/lem/path.rs
Owners: @lurk-lab/lurk-lem

initial sketch
  krivine/Cargo.toml
  krivine/src/expr.rs
  krivine/src/lib.rs
  krivine/src/parse.rs
  krivine/src/ptr.rs
  krivine/src/store.rs
  krivine/src/syntax.rs
  krivine/src/syntax_macros.rs
  krivine/src/tag.rs
Owners: @lurk-lab/lurk-noncircuit

cargo fmt
  src/lem/mod.rs
Owners: @lurk-lab/lurk-lem

chore: remove uneeded instances of pass-by-value
  clutch/src/lib.rs
  fcomm/src/bin/fcomm.rs
  fcomm/src/lib.rs
  src/circuit/circuit_frame.rs
  src/eval/tests/mod.rs
  src/parser/position.rs
  src/parser/syntax.rs
  src/proof/groth16.rs
  src/proof/nova.rs
  src/public_parameters/file_map.rs
  src/public_parameters/registry.rs
  src/store.rs
  src/syntax.rs
  src/z_data/z_store.rs
Owners: @lurk-lab/lurk-noncircuit, @lurk-lab/lurk-circuit, @porcuquine

update src/lem/circuit.rs
  src/lem/circuit.rs
Owners: @lurk-lab/lurk-lem

ci: Enhance upstream update workflow with rebase and tests (#532)
  .github/workflows/upstream_update.yml
Owners: @lurk-lab/lurk-ci

minor changes
  src/lem/mod.rs
Owners: @lurk-lab/lurk-lem

chore: remove uneeded instances of pass-by-value (#536)
  clutch/src/lib.rs
  fcomm/src/bin/fcomm.rs
  fcomm/src/lib.rs
  src/circuit/circuit_frame.rs
  src/eval/tests/mod.rs
  src/parser/position.rs
  src/parser/syntax.rs
  src/proof/groth16.rs
  src/proof/nova.rs
  src/public_parameters/file_map.rs
  src/public_parameters/registry.rs
  src/store.rs
  src/syntax.rs
  src/z_data/z_store.rs
Owners: @lurk-lab/lurk-noncircuit, @lurk-lab/lurk-circuit, @porcuquine

Added `unroll` function
  src/lem/mod.rs
Owners: @lurk-lab/lurk-lem

Added `match_map.rs`
  src/lem/circuit.rs
  src/lem/match_map.rs
  src/lem/mod.rs
  src/lem/path.rs
Owners: @lurk-lab/lurk-lem

solve conflicts
  Cargo.lock
  Cargo.toml
  benches/end2end.rs
  benches/fibonacci.rs
  deny.toml
  examples/sha256.rs
  fcomm/src/lib.rs
  src/cli/lurk_proof.rs
  src/cli/mod.rs
  src/cli/paths.rs
  src/cli/repl.rs
  src/eval/lang.rs
  src/field.rs
  src/proof/nova.rs
  src/public_parameters/registry.rs
Owners: @lurk-lab/lurk-noncircuit, @porcuquine

solve conflicts (#521)
  Cargo.lock
  Cargo.toml
  benches/end2end.rs
  benches/fibonacci.rs
  deny.toml
  examples/sha256.rs
  fcomm/src/lib.rs
  src/cli/lurk_proof.rs
  src/cli/mod.rs
  src/cli/paths.rs
  src/cli/repl.rs
  src/eval/lang.rs
  src/field.rs
  src/proof/nova.rs
  src/public_parameters/registry.rs
Owners: @lurk-lab/lurk-noncircuit, @porcuquine

New structure for LEM (#514)
  src/lem/circuit.rs
  src/lem/eval.rs
  src/lem/interpreter.rs
  src/lem/macros.rs
  src/lem/mod.rs
  src/lem/path.rs
  src/lem/var_map.rs
Owners: @lurk-lab/lurk-lem

Unwrap moved to `func!` macro
  src/lem/eval.rs
  src/lem/macros.rs
  src/lem/mod.rs
Owners: @lurk-lab/lurk-lem

Added optional default to `MatchTag` and `MatchSymbol`
  src/lem/circuit.rs
  src/lem/interpreter.rs
  src/lem/macros.rs
  src/lem/mod.rs
  src/lem/path.rs
  src/lem/tag.rs
Owners: @lurk-lab/lurk-lem

Added the default case
  src/lem/circuit.rs
  src/lem/macros.rs
Owners: @lurk-lab/lurk-lem

fix remove uneeded Serialization bounds on Coprocessors
  src/proof/nova.rs
  src/public_parameters/mod.rs
  src/public_parameters/registry.rs
Owners: @lurk-lab/lurk-noncircuit

Better circuit implementation of default
  src/lem/circuit.rs
Owners: @lurk-lab/lurk-lem

update store definition
  krivine/src/store.rs
Owners: @lurk-lab/lurk-noncircuit

typo
  krivine/src/store.rs
Owners: @lurk-lab/lurk-noncircuit

fix remove uneeded Serialization bounds on Coprocessors (#540)
  src/proof/nova.rs
  src/public_parameters/mod.rs
  src/public_parameters/registry.rs
Owners: @lurk-lab/lurk-noncircuit

meta commit and hide
  src/cli/commitment.rs
  src/cli/field_data.rs
  src/cli/lurk_proof.rs
  src/cli/mod.rs
  src/cli/paths.rs
  src/cli/repl.rs
Owners: @lurk-lab/lurk-noncircuit

Progress on `eval`
  src/lem/eval.rs
Owners: @lurk-lab/lurk-lem

progress on fetch
  src/cli/commitment.rs
  src/cli/field_data.rs
  src/cli/repl.rs
Owners: @lurk-lab/lurk-noncircuit

more descriptive allocatedptr name
  src/circuit/gadgets/pointer.rs
Owners: @lurk-lab/lurk-circuit

resolve lifetime issue
  src/cli/commitment.rs
  src/cli/repl.rs
Owners: @lurk-lab/lurk-noncircuit

delete extraneous let binding
  examples/sha256.rs
Owners: @lurk-lab/lurk-noncircuit

finish fetch
  fcomm/src/lib.rs
  src/cli/commitment.rs
  src/cli/lurk_proof.rs
  src/cli/repl.rs
  src/store.rs
Owners: @lurk-lab/lurk-noncircuit

Fixed circuit and deconflict
  src/lem/circuit.rs
  src/lem/eval.rs
  src/lem/mod.rs
Owners: @lurk-lab/lurk-lem

improve Commitment implementations; open meta command that prints data
  src/cli/commitment.rs
  src/cli/repl.rs
Owners: @lurk-lab/lurk-noncircuit

add pub(crate)
  src/cli/commitment.rs
  src/cli/field_data.rs
  src/cli/lurk_proof.rs
Owners: @lurk-lab/lurk-noncircuit

chore: clippy
  fcomm/tests/makefile_tests.rs
  src/lem/mod.rs
Owners: @lurk-lab/lurk-noncircuit, @lurk-lab/lurk-lem

refactor: Avoid a few needless pass-by-value
  clutch/src/lib.rs
  fcomm/src/bin/fcomm.rs
  fcomm/src/lib.rs
  src/lem/circuit.rs
  src/proof/groth16.rs
Owners: @lurk-lab/lurk-noncircuit, @lurk-lab/lurk-lem

refactor: Refactor `Num<F>` operations for improved readability
  src/num.rs
Owners: @lurk-lab/lurk-noncircuit

refactor: Optimize initialization in nova.rs for readability
  src/proof/nova.rs
Owners: @lurk-lab/lurk-noncircuit

enclose non-wasm code in particular modules
  src/cli/commitment.rs
  src/cli/lurk_proof.rs
Owners: @lurk-lab/lurk-noncircuit

.github/CODEOWNERS:

# Global Owners: @porcuquine, @huitseeker
* @lurk-lab/lurk-noncircuit

# CI maintenance
/.circleci/** @lurk-lab/lurk-ci
/.config/** @lurk-lab/lurk-ci
/.github/** @lurk-lab/lurk-ci

# Circuit
/src/circuit/** @lurk-lab/lurk-circuit

# LEM
/src/lem/** @lurk-lab/lurk-lem

# Order is important; the last matching pattern takes the most
# precedence. This excludes @everyone but @porcuquine for /src/eval.rs
/src/eval/** @porcuquine
