Repository argumentcomputer/lurk-beta, changes with the owners that .github/CODEOWNERS names for each.
All owners: @lurk-lab/lurk-noncircuit, @lurk-lab/lurk-ci, @lurk-lab/lurk-circuit, @lurk-lab/lurk-lem, @porcuquine

.github/CODEOWNERS:

# Global Owners: @porcuquine, @huitseeker
* @lurk-lab/lurk-noncircuit

# CI maintenance
/.circleci/** @lurk-lab/lurk-ci
/.config/** @lurk-lab/lurk-ci
/.github/** @lurk-lab/lurk-ci

# Circuit
/src/circuit/** @lurk-lab/lurk-circuit

# LEM
/src/lem/** @lurk-lab/lurk-lem

# Order is important; the last matching pattern takes the most
# precedence. This excludes @everyone but @porcuquine for /src/eval.rs
/src/eval/** @porcuquine

fix deadlocking behavior of deconflict
  src/lem/mod.rs
Owners: @lurk-lab/lurk-lem

Cleanup & fix Wasm build
  src/public_parameters/mod.rs
  src/z_data/z_expr.rs
  src/z_data/z_ptr.rs
Owners: @lurk-lab/lurk-noncircuit

more refactoring + finish slot allocation for hash/unhash4
  src/lem/constrainer.rs
Owners: @lurk-lab/lurk-lem

set infra for limited allocated hash slots
  src/lem/constrainer.rs
  src/lem/eval.rs
Owners: @lurk-lab/lurk-lem

fmt
  src/public_parameters/mod.rs
Owners: @lurk-lab/lurk-noncircuit

Use max slots condition and create tests for hash4
  src/lem/constrainer.rs
  src/lem/mod.rs
Owners: @lurk-lab/lurk-lem

always require 'max_indices' in 'constrain_test_helper'
  src/lem/mod.rs
Owners: @lurk-lab/lurk-lem

Add trie coprocessor. (#397)
  src/coprocessor/mod.rs
  src/coprocessor/trie/mod.rs
  src/eval/tests/mod.rs
  src/eval/tests/trie.rs
  src/hash.rs
  src/store.rs
Owners: @lurk-lab/lurk-noncircuit, @porcuquine

docs: Improve pull request merge guidelines (#418)
  CONTRIBUTING.md
Owners: @lurk-lab/lurk-noncircuit

chore: Less cloning (#420)
  benches/synthesis.rs
  src/circuit/circuit_frame.rs
  src/circuit/gadgets/constraints.rs
  src/hash.rs
  src/lem/interpreter.rs
  src/lem/mod.rs
  src/lem/symbol.rs
  src/proof/groth16.rs
  src/proof/nova.rs
Owners: @lurk-lab/lurk-noncircuit, @lurk-lab/lurk-circuit, @lurk-lab/lurk-lem

test: Add a test for enforce_implication_lc (#419)
  src/circuit/gadgets/constraints.rs
Owners: @lurk-lab/lurk-circuit

Rectify language fields (#423)
  benches/end2end.rs
  benches/fibonacci.rs
  clutch/src/main.rs
  src/field.rs
  src/main.rs
Owners: @lurk-lab/lurk-noncircuit

Fix new_with_expr conversion to ZStore
  fcomm/src/bin/fcomm.rs
  src/public_parameters/mod.rs
  src/store.rs
  src/z_data/z_store.rs
Owners: @lurk-lab/lurk-noncircuit

utlra fast param decoding
  .gitignore
  Cargo.lock
  Cargo.toml
  examples/sha256.rs
  src/public_parameters/file_map.rs
  src/public_parameters/mod.rs
  src/public_parameters/registry.rs
Owners: @lurk-lab/lurk-noncircuit

match APIs, bugfix
  src/public_parameters/registry.rs
Owners: @lurk-lab/lurk-noncircuit

cargo fmt
  benches/end2end.rs
  examples/sha256.rs
  src/proof/nova.rs
  src/public_parameters/file_map.rs
  src/public_parameters/mod.rs
  src/public_parameters/registry.rs
Owners: @lurk-lab/lurk-noncircuit

Include and update comments
  src/lem/constrainer.rs
Owners: @lurk-lab/lurk-lem

Modified form of coprocessors
  lurk-macros/src/lib.rs
  src/coprocessor/mod.rs
  src/eval/reduction.rs
  src/store.rs
Owners: @lurk-lab/lurk-noncircuit, @porcuquine

Updated trie tests
  src/coprocessor/mod.rs
  src/eval/tests/trie.rs
  src/store.rs
Owners: @lurk-lab/lurk-noncircuit, @porcuquine

Fix commitment roundtrip test
  clutch/src/lib.rs
  fcomm/src/bin/fcomm.rs
  src/public_parameters/mod.rs
  src/store.rs
Owners: @lurk-lab/lurk-noncircuit

Include failing test for issue 426
  src/proof/nova.rs
Owners: @lurk-lab/lurk-noncircuit

fix automatic conversion from string and string slices to symbol
  src/eval/tests/trie.rs
  src/symbol.rs
Owners: @porcuquine, @lurk-lab/lurk-noncircuit

docs: Improve pull request merge guidelines (#418)
  CONTRIBUTING.md
Owners: @lurk-lab/lurk-noncircuit

Implement LEM macros (#413)
  src/lem/constrainer.rs
  src/lem/eval.rs
  src/lem/interpreter.rs
  src/lem/macros.rs
  src/lem/mod.rs
Owners: @lurk-lab/lurk-lem

chore: Less cloning (#420)
  benches/synthesis.rs
  src/circuit/circuit_frame.rs
  src/circuit/gadgets/constraints.rs
  src/hash.rs
  src/lem/interpreter.rs
  src/lem/mod.rs
  src/lem/symbol.rs
  src/proof/groth16.rs
  src/proof/nova.rs
Owners: @lurk-lab/lurk-noncircuit, @lurk-lab/lurk-circuit, @lurk-lab/lurk-lem

Rectify language fields (#423)
  benches/end2end.rs
  benches/fibonacci.rs
  clutch/src/main.rs
  src/field.rs
  src/main.rs
Owners: @lurk-lab/lurk-noncircuit

Add synthesis benchmark. (#415)
  Cargo.toml
  benches/synthesis.rs
  src/circuit/mod.rs
  src/proof/groth16.rs
Owners: @lurk-lab/lurk-noncircuit, @lurk-lab/lurk-circuit

test: Add a test for enforce_implication_lc (#419)
  src/circuit/gadgets/constraints.rs
Owners: @lurk-lab/lurk-circuit

Minimum failing test
  src/proof/nova.rs
Owners: @lurk-lab/lurk-noncircuit

solve issue of pointer not found on syntax full roundtrip
  src/store.rs
  src/syntax.rs
Owners: @lurk-lab/lurk-noncircuit

fix syntax full roundtrip test
  src/syntax.rs
Owners: @lurk-lab/lurk-noncircuit

adopt some code review suggestions
  src/lem/constrainer.rs
  src/lem/eval.rs
  src/lem/mod.rs
Owners: @lurk-lab/lurk-lem

improve stack_hash_slots
  src/lem/constrainer.rs
Owners: @lurk-lab/lurk-lem

FG's suggestion
  src/lem/constrainer.rs
Owners: @lurk-lab/lurk-lem

simplify 'create_slot_constraints'
  src/lem/constrainer.rs
Owners: @lurk-lab/lurk-lem

Fix lurk_tests with updated lurk-lib
  src/public_parameters/mod.rs
Owners: @lurk-lab/lurk-noncircuit

Rustfmt
  src/public_parameters/mod.rs
  src/symbol.rs
Owners: @lurk-lab/lurk-noncircuit

remove the term 'stack' from where it's not needed
  src/lem/constrainer.rs
Owners: @lurk-lab/lurk-lem

Run on bench machine only
  .github/workflows/pr_bench.yml
Owners: @lurk-lab/lurk-ci

Add basic PR bench workflow
  .github/workflows/pr_bench.yml
Owners: @lurk-lab/lurk-ci
