Repository argumentcomputer/lurk-beta, changes with the owners that .github/CODEOWNERS names for each.
All owners: @lurk-lab/lurk-noncircuit, @lurk-lab/lurk-ci, @lurk-lab/lurk-benches, @lurk-lab/lurk-cli-tools, @lurk-lab/lurk-circuit

.github/CODEOWNERS:

# Global Owners: @porcuquine, @huitseeker
* @lurk-lab/lurk-noncircuit

# CI maintenance
/.circleci/** @lurk-lab/lurk-ci
/.config/** @lurk-lab/lurk-ci
/.github/** @lurk-lab/lurk-ci

# Benchmarks
/benches/** @lurk-lab/lurk-benches

# CLI tools
/src/cli/** @lurk-lab/lurk-cli-tools

# Circuit
/src/circuit/** @lurk-lab/lurk-circuit
/src/lem/circuit.rs @lurk-lab/lurk-circuit

chore: update halo2curves dependency
  Cargo.toml
Owners: @lurk-lab/lurk-noncircuit

chore: re-direct the arecibo branch to dev
  Cargo.toml
Owners: @lurk-lab/lurk-noncircuit

chore: update halo2curves dependency (easy) (#967)
  Cargo.toml
Owners: @lurk-lab/lurk-noncircuit

[automated] GPU Benchmark from PR #967
  0c0e1849884c8016d1f001cf17e8d692dbe98dbd-L4.json
Owners: @lurk-lab/lurk-noncircuit

add max-chunk-size as a REPL parameter for memory control
  benches/end2end.rs
  benches/fibonacci.rs
  benches/sha256.rs
  benches/synthesis.rs
  examples/sha256_nivc.rs
  src/cli/config.rs
  src/cli/mod.rs
  src/cli/repl/meta_cmd.rs
  src/cli/repl/mod.rs
  src/lem/eval.rs
  src/lem/multiframe.rs
  src/lem/tests/nivc_steps.rs
  src/proof/mod.rs
  src/proof/nova.rs
  src/proof/supernova.rs
  src/proof/tests/mod.rs
Owners: @lurk-lab/lurk-benches, @lurk-lab/lurk-noncircuit, @lurk-lab/lurk-cli-tools

Expectation tests for eval
  Cargo.toml
  src/lem/tests/eval_tests.rs
Owners: @lurk-lab/lurk-noncircuit

Expectation test for nova
  src/proof/tests/mod.rs
  src/proof/tests/nova_tests_lem.rs
Owners: @lurk-lab/lurk-noncircuit

clippy
  src/lem/tests/eval_tests.rs
  src/proof/tests/mod.rs
  src/proof/tests/nova_tests_lem.rs
Owners: @lurk-lab/lurk-noncircuit

Expectation tests (#974)
  Cargo.toml
  src/lem/tests/eval_tests.rs
  src/proof/tests/mod.rs
  src/proof/tests/nova_tests_lem.rs
Owners: @lurk-lab/lurk-noncircuit

[automated] GPU Benchmark from PR #974
  f1c30051499438f161b24c5204788643dc7370d0-L4.json
Owners: @lurk-lab/lurk-noncircuit

use expect_test to make assertions about circuit properties
  src/lem/eval.rs
Owners: @lurk-lab/lurk-noncircuit

use expect_test to make assertions about circuit properties (#978)
  src/lem/eval.rs
Owners: @lurk-lab/lurk-noncircuit

chore: Release
  Cargo.toml
  lurk-macros/Cargo.toml
  lurk-metrics/Cargo.toml
Owners: @lurk-lab/lurk-noncircuit

update README
  README.md
Owners: @lurk-lab/lurk-noncircuit

[automated] GPU Benchmark from PR #978
  061b1354d5edddb493731e545226757dc7a45bfe-L4.json
Owners: @lurk-lab/lurk-noncircuit

Fix version (#977)
  Cargo.toml
  README.md
  lurk-macros/Cargo.toml
  lurk-metrics/Cargo.toml
Owners: @lurk-lab/lurk-noncircuit

[automated] GPU Benchmark from PR #977
  3ab302f3b668aeb9d1c4f54e54694b17b7651adc-L4.json
Owners: @lurk-lab/lurk-noncircuit

removed tail and lookup continuations
  src/lem/eval.rs
Owners: @lurk-lab/lurk-noncircuit

new application model
  src/lem/eval.rs
Owners: @lurk-lab/lurk-noncircuit

coproc fixed
  src/lem/eval.rs
Owners: @lurk-lab/lurk-noncircuit

multiargument functions
  src/lem/eval.rs
  src/lem/store.rs
  src/lem/tests/eval_tests.rs
Owners: @lurk-lab/lurk-noncircuit

functions are now cons4 as to reuse slots
  src/lem/eval.rs
  src/lem/store.rs
  src/proof/tests/nova_tests_lem.rs
Owners: @lurk-lab/lurk-noncircuit

check that first variable of functions is symbol
  src/lem/eval.rs
Owners: @lurk-lab/lurk-noncircuit

Removed "_"
  src/state.rs
Owners: @lurk-lab/lurk-noncircuit

Updated iterations
  src/lem/tests/eval_tests.rs
  src/proof/tests/nova_tests_lem.rs
Owners: @lurk-lab/lurk-noncircuit

chore: remove peekmore
  Cargo.toml
Owners: @lurk-lab/lurk-noncircuit

refactor: (automated) Refactor of code for readability and style improvements
  .cargo/config
  benches/justfile
  src/cli/config.rs
  src/config.rs
  src/coprocessor/trie/mod.rs
  src/lem/multiframe.rs
  src/lem/store.rs
  src/lem/tests/eval_tests.rs
  src/proof/tests/nova_tests_lem.rs
  src/public_parameters/mod.rs
Owners: @lurk-lab/lurk-noncircuit, @lurk-lab/lurk-benches, @lurk-lab/lurk-cli-tools

Fixed `fib_frame`
  examples/fibonacci.rs
Owners: @lurk-lab/lurk-noncircuit

Cleanup before patch release (#984)
  .cargo/config
  Cargo.toml
  benches/justfile
  src/cli/config.rs
  src/config.rs
  src/coprocessor/trie/mod.rs
  src/lem/multiframe.rs
  src/lem/store.rs
  src/lem/tests/eval_tests.rs
  src/proof/tests/nova_tests_lem.rs
  src/public_parameters/mod.rs
Owners: @lurk-lab/lurk-noncircuit, @lurk-lab/lurk-benches, @lurk-lab/lurk-cli-tools

refactor: revamp `GlobalAllocator`
  src/coprocessor/circom.rs
  src/coprocessor/gadgets.rs
  src/coprocessor/mod.rs
  src/coprocessor/trie/mod.rs
  src/lem/circuit.rs
  src/lem/multiframe.rs
Owners: @lurk-lab/lurk-noncircuit, @lurk-lab/lurk-circuit

adjust fib_frame in benches/fibonacci.rs
  benches/fibonacci.rs
Owners: @lurk-lab/lurk-benches

Simplified `Func` and `Cproc` call (#966)
  src/lem/circuit.rs
  src/lem/interpreter.rs
  src/lem/var_map.rs
Owners: @lurk-lab/lurk-circuit, @lurk-lab/lurk-noncircuit

Expectation tests (#974)
  Cargo.toml
  src/lem/tests/eval_tests.rs
  src/proof/tests/mod.rs
  src/proof/tests/nova_tests_lem.rs
Owners: @lurk-lab/lurk-noncircuit

use expect_test to make assertions about circuit properties (#978)
  src/lem/eval.rs
Owners: @lurk-lab/lurk-noncircuit

Fix version (#977)
  README.md
Owners: @lurk-lab/lurk-noncircuit

Cleanup before patch release (#984)
  .cargo/config
  Cargo.toml
  benches/justfile
  src/cli/config.rs
  src/config.rs
  src/coprocessor/trie/mod.rs
  src/lem/multiframe.rs
  src/lem/store.rs
  src/lem/tests/eval_tests.rs
  src/proof/tests/nova_tests_lem.rs
  src/public_parameters/mod.rs
Owners: @lurk-lab/lurk-noncircuit, @lurk-lab/lurk-benches, @lurk-lab/lurk-cli-tools

chore: Release
  Cargo.toml
Owners: @lurk-lab/lurk-noncircuit

chore: Release
  Cargo.toml
Owners: @lurk-lab/lurk-noncircuit

chore: Release (#987)
  Cargo.toml
Owners: @lurk-lab/lurk-noncircuit

refactor: revamp `GlobalAllocator` (#982)
  src/coprocessor/circom.rs
  src/coprocessor/gadgets.rs
  src/coprocessor/mod.rs
  src/coprocessor/trie/mod.rs
  src/lem/circuit.rs
  src/lem/multiframe.rs
Owners: @lurk-lab/lurk-noncircuit, @lurk-lab/lurk-circuit
