Repository argumentcomputer/lurk-beta, changes with the owners that .github/CODEOWNERS names for each.
All owners: @lurk-lab/lurk-noncircuit, @lurk-lab/lurk-ci, @lurk-lab/lurk-circuit, @lurk-lab/lurk-lem, @porcuquine

refactor: Refactor Nova struct to make them generic on the field type
  Cargo.lock
  Cargo.toml
  examples/sha256.rs
  fcomm/src/bin/fcomm.rs
  fcomm/src/lib.rs
  src/cli/lurk_proof.rs
  src/cli/mod.rs
  src/field.rs
  src/proof/nova.rs
  src/public_parameters/mod.rs
  src/public_parameters/registry.rs
  tests/lurk-tests.rs
Owners: @lurk-lab/lurk-noncircuit

chore: update PR to latest Nova version
  Cargo.lock
  Cargo.toml
Owners: @lurk-lab/lurk-noncircuit

refactor: Nova structs become generic on their field type (+ update Nova) (#556)
  Cargo.lock
  Cargo.toml
  examples/sha256.rs
  fcomm/src/bin/fcomm.rs
  fcomm/src/lib.rs
  src/cli/lurk_proof.rs
  src/cli/mod.rs
  src/field.rs
  src/proof/nova.rs
  src/public_parameters/mod.rs
  src/public_parameters/registry.rs
  tests/lurk-tests.rs
Owners: @lurk-lab/lurk-noncircuit

small updates
  src/lem/eval.rs
  src/lem/store.rs
Owners: @lurk-lab/lurk-lem

Simplified eval
  src/lem/eval.rs
Owners: @lurk-lab/lurk-lem

Further simplifications
  src/lem/eval.rs
  src/lem/macros.rs
  src/lem/mod.rs
Owners: @lurk-lab/lurk-lem

Using Lurk's symbol
  src/lem/macros.rs
  src/lem/mod.rs
  src/lem/pointers.rs
  src/lem/store.rs
  src/lem/symbol.rs
Owners: @lurk-lab/lurk-lem

Ptr->String
  src/lem/eval.rs
  src/lem/interpreter.rs
  src/lem/macros.rs
  src/lem/mod.rs
  src/lem/store.rs
Owners: @lurk-lab/lurk-lem

Circuit fix
  src/lem/circuit.rs
Owners: @lurk-lab/lurk-lem

Circuit fix again
  src/lem/circuit.rs
Owners: @lurk-lab/lurk-lem

allows proving incomplete computations
  README.md
  src/cli/mod.rs
  src/cli/repl.rs
  src/eval/mod.rs
Owners: @lurk-lab/lurk-noncircuit, @porcuquine

solve CLI parse order bug
  src/cli/mod.rs
Owners: @lurk-lab/lurk-noncircuit

use a new constraint system per frame
  src/lem/eval.rs
Owners: @lurk-lab/lurk-lem

add CLI test to validate fix
  tests/lurk-cli-tests.rs
  tests/lurk-lib-tests.rs
Owners: @lurk-lab/lurk-noncircuit

Fixed thunks, new circuit bug found
  src/lem/eval.rs
Owners: @lurk-lab/lurk-lem

Added names to funcs for debugging purposes
  src/lem/circuit.rs
  src/lem/eval.rs
  src/lem/macros.rs
  src/lem/mod.rs
Owners: @lurk-lab/lurk-lem

chore: Upgrade clap in fcomm
  Cargo.lock
  fcomm/Cargo.toml
  fcomm/src/bin/fcomm.rs
  fcomm/tests/proof_tests.rs
Owners: @lurk-lab/lurk-noncircuit

initial draft
  src/lib.rs
  src/package.rs
Owners: @lurk-lab/lurk-noncircuit

WIP
  src/package.rs
  src/symbol.rs
Owners: @lurk-lab/lurk-noncircuit

second version
  src/package.rs
Owners: @lurk-lab/lurk-noncircuit

first draft for import
  src/package.rs
  src/symbol.rs
Owners: @lurk-lab/lurk-noncircuit

Slot allocation partial fix
  src/lem/circuit.rs
  src/lem/pointers.rs
Owners: @lurk-lab/lurk-lem

Separate slot file
  src/lem/circuit.rs
  src/lem/eval.rs
  src/lem/mod.rs
  src/lem/slot.rs
Owners: @lurk-lab/lurk-lem

fix Package and import
  src/package.rs
  src/symbol.rs
Owners: @lurk-lab/lurk-noncircuit

remove TODO
  src/package.rs
Owners: @lurk-lab/lurk-noncircuit

use Rc for symbols hashmap; add docstrings
  src/package.rs
Owners: @lurk-lab/lurk-noncircuit

Solve CLI parse order bug (#574)
  src/cli/mod.rs
  tests/lurk-cli-tests.rs
  tests/lurk-lib-tests.rs
Owners: @lurk-lab/lurk-noncircuit

use is_complete instead of hardcoded tags on Evaluator::eval
  src/eval/mod.rs
Owners: @porcuquine

fix Evaluable implementation for IO
  src/eval/mod.rs
Owners: @porcuquine

fix Evaluable implementation for IO (#579)
  src/eval/mod.rs
Owners: @porcuquine

lurk package and package manager
  src/lib.rs
  src/packaging/lurk.rs
  src/packaging/manager.rs
  src/packaging/mod.rs
  src/packaging/package.rs
Owners: @lurk-lab/lurk-noncircuit

SymbolRef for efficiency
  src/packaging/lurk.rs
  src/packaging/manager.rs
  src/packaging/package.rs
Owners: @lurk-lab/lurk-noncircuit

WIP printing
  src/packaging/package.rs
  src/store.rs
  src/symbol.rs
  src/z_data/z_store.rs
Owners: @lurk-lab/lurk-noncircuit

Allows proving for incomplete computations (#572)
  README.md
  src/cli/mod.rs
  src/cli/repl.rs
  src/eval/mod.rs
Owners: @lurk-lab/lurk-noncircuit, @porcuquine

implement format
  src/packaging/manager.rs
  src/packaging/package.rs
  src/symbol.rs
Owners: @lurk-lab/lurk-noncircuit

Slots count inside funcs
  src/lem/circuit.rs
  src/lem/eval.rs
  src/lem/mod.rs
  src/lem/slot.rs
Owners: @lurk-lab/lurk-lem

Fixed slot allocation
  src/lem/circuit.rs
  src/lem/interpreter.rs
Owners: @lurk-lab/lurk-lem

initiating the default package manager
  src/packaging/lurk.rs
  src/packaging/manager.rs
  src/packaging/mod.rs
Owners: @lurk-lab/lurk-noncircuit

Fixed `let`
  src/lem/eval.rs
Owners: @lurk-lab/lurk-lem

More tests
  src/lem/eval.rs
Owners: @lurk-lab/lurk-lem

.github/CODEOWNERS:

# Global Owners: @porcuquine, @huitseeker
* @lurk-lab/lurk-noncircuit

# CI maintenance
/.circleci/** @lurk-lab/lurk-ci
/.config/** @lurk-lab/lurk-ci
/.github/** @lurk-lab/lurk-ci

# Circuit
/src/circuit/** @lurk-lab/lurk-circuit

# LEM
/src/lem/** @lurk-lab/lurk-lem

# Order is important; the last matching pattern takes the most
# precedence. This excludes @everyone but @porcuquine for /src/eval.rs
/src/eval/** @porcuquine
