Repository argumentcomputer/lurk-beta, changes with the owners that .github/CODEOWNERS names for each.
All owners: @lurk-lab/lurk-noncircuit, @lurk-lab/lurk-ci, @lurk-lab/lurk-circuit, @lurk-lab/lurk-lem, @porcuquine

Remove conversion from string to symbol (#506)
  examples/sha256.rs
  src/coprocessor/trie/mod.rs
  src/eval/lang.rs
  src/eval/tests/mod.rs
  src/parser/syntax.rs
  src/symbol.rs
  src/syntax_macros.rs
Owners: @lurk-lab/lurk-noncircuit, @porcuquine

Drop the need for the assumption that LEMs must be in SSA (#484)
  src/lem/circuit.rs
  src/lem/interpreter.rs
  src/lem/mod.rs
  src/lem/path.rs
  src/lem/var_map.rs
Owners: @lurk-lab/lurk-lem

feat: Refactor file handling methods in fcomm to JSON format
  Cargo.toml
  fcomm/examples/Makefile
  fcomm/examples/chained-request.json
  fcomm/src/bin/fcomm.rs
  fcomm/tests/proof_tests.rs
  src/public_parameters/mod.rs
Owners: @lurk-lab/lurk-noncircuit

feat: Refactor file handling methods in fcomm to JSON format (#511)
  Cargo.toml
  fcomm/examples/Makefile
  fcomm/examples/chained-request.json
  fcomm/src/bin/fcomm.rs
  fcomm/tests/proof_tests.rs
  src/public_parameters/mod.rs
Owners: @lurk-lab/lurk-noncircuit

log store read
  src/cli/mod.rs
Owners: @lurk-lab/lurk-noncircuit

WIP added blocks
  src/lem/circuit.rs
  src/lem/eval.rs
  src/lem/interpreter.rs
  src/lem/macros.rs
  src/lem/mod.rs
  src/lem/path.rs
Owners: @lurk-lab/lurk-lem

chore: setup dependencies on dev forks
  Cargo.lock
  Cargo.toml
Owners: @lurk-lab/lurk-noncircuit

Unsafe Serialization for Faster Public Parameter Caching (#474)
  Cargo.lock
  Cargo.toml
  benches/end2end.rs
  benches/fibonacci.rs
  clutch/src/lib.rs
  examples/sha256.rs
  fcomm/src/bin/fcomm.rs
  src/hash.rs
  src/proof/nova.rs
  src/public_parameters/file_map.rs
  src/public_parameters/mod.rs
  src/public_parameters/registry.rs
Owners: @lurk-lab/lurk-noncircuit

refactor: Adapt to upstream Nova
  Cargo.lock
  Cargo.toml
  src/proof/nova.rs
Owners: @lurk-lab/lurk-noncircuit

Use neptune witness-generation.
  Cargo.lock
  Cargo.toml
  benches/fibonacci.rs
  benches/synthesis.rs
  build.rs
  clutch/src/lib.rs
  examples/fibonacci.rs
  src/circuit/circuit_frame.rs
  src/circuit/gadgets/data.rs
  src/circuit/gadgets/hashes.rs
  src/config.rs
  src/eval/mod.rs
  src/hash_witness.rs
  src/lib.rs
  src/main.rs
  src/proof/groth16.rs
  src/proof/nova.rs
Owners: @lurk-lab/lurk-noncircuit, @lurk-lab/lurk-circuit, @porcuquine

Add itcalc example.
  Cargo.lock
  Cargo.toml
  examples/itcalc.rs
Owners: @lurk-lab/lurk-noncircuit

fix: adapt end2end benchmark & associated files
  benches/end2end.rs
  benches/fibonacci.rs
  examples/fibonacci.rs
  examples/itcalc.rs
  examples/sha256.rs
  src/circuit/circuit_frame.rs
  src/circuit/gadgets/hashes.rs
  src/config.rs
  src/hash_witness.rs
  src/proof/nova.rs
Owners: @lurk-lab/lurk-noncircuit, @lurk-lab/lurk-circuit

Refactor version handling and vergen version
  Cargo.lock
  Cargo.toml
  benches/fibonacci.rs
  build.rs
  src/hash_witness.rs
  src/main.rs
Owners: @lurk-lab/lurk-noncircuit

fix: restore test_prove_fibonacci
  src/proof/nova.rs
Owners: @lurk-lab/lurk-noncircuit

test: refactor mismatch test utility
  src/proof/nova.rs
Owners: @lurk-lab/lurk-noncircuit

WIP block macros
  src/lem/macros.rs
  src/lem/mod.rs
  src/lem/path.rs
Owners: @lurk-lab/lurk-lem

Fix parsing for raw symbols (#507)
  src/parser/syntax.rs
Owners: @lurk-lab/lurk-noncircuit

uncomment pp cache eprintln
  src/public_parameters/registry.rs
Owners: @lurk-lab/lurk-noncircuit

move file_map to public_parameters module
  fcomm/src/lib.rs
  src/lib.rs
  src/public_parameters/file_map.rs
  src/public_parameters/mod.rs
  src/public_parameters/registry.rs
Owners: @lurk-lab/lurk-noncircuit

specify context of store read error
  src/cli/mod.rs
Owners: @lurk-lab/lurk-noncircuit

delete error comment
  fcomm/src/lib.rs
Owners: @lurk-lab/lurk-noncircuit

input -> output
  fcomm/src/bin/fcomm.rs
Owners: @lurk-lab/lurk-noncircuit

fix public_param impl block
  src/public_parameters/error.rs
  src/public_parameters/mod.rs
Owners: @lurk-lab/lurk-noncircuit

clean up fcomm error
  fcomm/src/error.rs
Owners: @lurk-lab/lurk-noncircuit

chore:cleanup
  src/eval/mod.rs
Owners: @porcuquine

Generalized the interpreter
  src/lem/eval.rs
  src/lem/interpreter.rs
  src/lem/mod.rs
Owners: @lurk-lab/lurk-lem

change boolean name
  examples/sha256.rs
Owners: @lurk-lab/lurk-noncircuit

Finished circuit.rs
  src/lem/circuit.rs
  src/lem/mod.rs
Owners: @lurk-lab/lurk-lem

add a test for stable hash of nil (#508)
  src/eval/tests/mod.rs
Owners: @porcuquine

Fixed tests
  src/lem/eval.rs
  src/lem/interpreter.rs
  src/lem/mod.rs
Owners: @lurk-lab/lurk-lem

remove logs from loading the store
  src/cli/mod.rs
Owners: @lurk-lab/lurk-noncircuit

First draft of `Op::Call`
  src/lem/circuit.rs
  src/lem/interpreter.rs
  src/lem/mod.rs
  src/lem/path.rs
Owners: @lurk-lab/lurk-lem

`deconflict` will now take owned values to remove unecessary copying
  src/lem/macros.rs
  src/lem/mod.rs
  src/lem/path.rs
Owners: @lurk-lab/lurk-lem

Reorganized some functions in `path.rs`
  src/lem/mod.rs
  src/lem/path.rs
  src/lem/var_map.rs
Owners: @lurk-lab/lurk-lem

Finished `Call` on `interpreter.rs`
  src/lem/eval.rs
  src/lem/interpreter.rs
  src/lem/mod.rs
Owners: @lurk-lab/lurk-lem

Fixed tests
  src/lem/eval.rs
  src/lem/interpreter.rs
  src/lem/mod.rs
Owners: @lurk-lab/lurk-lem

Fixed num_paths
  src/lem/path.rs
Owners: @lurk-lab/lurk-lem

feat: Implement `serde_test` attribute for serialization tests
  Cargo.lock
  Cargo.toml
  lurk-macros/Cargo.toml
  lurk-macros/src/lib.rs
Owners: @lurk-lab/lurk-noncircuit

feat: Integrate `serde_test` macro for Status, Symbol, UInt
  src/eval/mod.rs
  src/symbol.rs
  src/uint.rs
Owners: @porcuquine, @lurk-lab/lurk-noncircuit

feat: Implement zdata roundtrup testing in serde_test macro
  lurk-macros/src/lib.rs
Owners: @lurk-lab/lurk-noncircuit

.github/CODEOWNERS:

# Global Owners: @porcuquine, @huitseeker
* @lurk-lab/lurk-noncircuit

# CI maintenance
/.circleci/** @lurk-lab/lurk-ci
/.config/** @lurk-lab/lurk-ci
/.github/** @lurk-lab/lurk-ci

# Circuit
/src/circuit/** @lurk-lab/lurk-circuit

# LEM
/src/lem/** @lurk-lab/lurk-lem

# Order is important; the last matching pattern takes the most
# precedence. This excludes @everyone but @porcuquine for /src/eval.rs
/src/eval/** @porcuquine
