Repository argumentcomputer/lurk-beta, changes with the owners that .github/CODEOWNERS names for each.
All owners: @lurk-lab/lurk-noncircuit, @lurk-lab/lurk-ci, @lurk-lab/lurk-circuit, @lurk-lab/lurk-lem, @porcuquine

simplify 'slots_indices' with macros
  src/lem/constrainer.rs
  src/lem/interpreter.rs
  src/lem/mod.rs
Owners: @lurk-lab/lurk-lem

Arc<str> instead of String
  src/lem/interpreter.rs
  src/lem/mod.rs
  src/lem/path.rs
  src/lem/store.rs
  src/lem/symbol.rs
Owners: @lurk-lab/lurk-lem

Documentation
  src/lem/constrainer.rs
Owners: @lurk-lab/lurk-lem

remove inputation; improve 'Frame'
  src/lem/constrainer.rs
  src/lem/interpreter.rs
  src/lem/mod.rs
  src/lem/path.rs
Owners: @lurk-lab/lurk-lem

replace HashMap by IndexMap on SlotsIndices
  src/lem/constrainer.rs
Owners: @lurk-lab/lurk-lem

rename macro
  src/lem/constrainer.rs
Owners: @lurk-lab/lurk-lem

cleaner fetch_syntax_list
  src/syntax.rs
Owners: @lurk-lab/lurk-noncircuit

comments
  src/ptr.rs
  src/store.rs
  src/tag.rs
Owners: @lurk-lab/lurk-noncircuit

add rust-analyzer to flake
  flake.nix
Owners: @lurk-lab/lurk-noncircuit

fix num inputs
  src/lem/eval.rs
Owners: @lurk-lab/lurk-lem

fetch_syntax_list comment
  src/syntax.rs
Owners: @lurk-lab/lurk-noncircuit

remove double path clone in Symbol::extend
  src/symbol.rs
Owners: @lurk-lab/lurk-noncircuit

Arc<[A]> instead of Vec<A> and better intern functions
  src/lem/mod.rs
  src/lem/store.rs
Owners: @lurk-lab/lurk-lem

small improvements on ZStore::get_expr and ZStore::new_with_expr
  src/z_data/z_store.rs
Owners: @lurk-lab/lurk-noncircuit

resolve TODO remove child_z_ptrs
  src/z_data/z_store.rs
Owners: @lurk-lab/lurk-noncircuit

fix unwrap on ZStore::insert_expr
  src/z_data/z_store.rs
Owners: @lurk-lab/lurk-noncircuit

add back z_expr_ptr_from_parts z_cont_ptr_from_parts convenience functions
  src/circuit/gadgets/pointer.rs
  src/store.rs
Owners: @lurk-lab/lurk-circuit, @lurk-lab/lurk-noncircuit

fix cont.rs Call arg order typo
  src/cont.rs
Owners: @lurk-lab/lurk-noncircuit

fix u32->char conversion to allow for u32 values which are not Unicode codepoints to be Lurk chars
  src/eval/reduction.rs
Owners: @porcuquine

clippy
  src/store.rs
Owners: @lurk-lab/lurk-noncircuit

Progress on path.rs
  src/lem/path.rs
Owners: @lurk-lab/lurk-lem

change MatchSymPath to MatchSymbol
  src/lem/constrainer.rs
  src/lem/eval.rs
  src/lem/interpreter.rs
  src/lem/macros.rs
  src/lem/mod.rs
  src/lem/path.rs
  src/lem/pointers.rs
  src/lem/store.rs
  src/lem/symbol.rs
Owners: @lurk-lab/lurk-lem

more documentation for the constrainer
  src/lem/constrainer.rs
Owners: @lurk-lab/lurk-lem

ci: merge rustfmt, clippy
  .github/workflows/rust.yml
Owners: @lurk-lab/lurk-ci

ci: remove unused workflow
  .github/workflows/add-project.yml
Owners: @lurk-lab/lurk-ci

path.rs and interpreter.rs completed
  src/lem/interpreter.rs
  src/lem/path.rs
Owners: @lurk-lab/lurk-lem

divide and conquer
  src/lem/constrainer.rs
  src/lem/interpreter.rs
Owners: @lurk-lab/lurk-lem

'allocate_preimg_for_slot' readability
  src/lem/constrainer.rs
Owners: @lurk-lab/lurk-lem

better readability
  src/lem/constrainer.rs
Owners: @lurk-lab/lurk-lem

First version of README
  src/lem/README.md
Owners: @lurk-lab/lurk-lem

more documentation; some code improvements
  src/lem/README.md
  src/lem/constrainer.rs
  src/lem/eval.rs
  src/lem/interpreter.rs
  src/lem/path.rs
Owners: @lurk-lab/lurk-lem

ci: clean up unused job (#461)
  .github/workflows/add-project.yml
  .github/workflows/rust.yml
Owners: @lurk-lab/lurk-ci

more documentation improvement
  src/lem/constrainer.rs
Owners: @lurk-lab/lurk-lem

more documentation and code improvements
  src/lem/constrainer.rs
  src/lem/interpreter.rs
Owners: @lurk-lab/lurk-lem

Adding macros
  src/lem/macros.rs
  src/lem/mod.rs
Owners: @lurk-lab/lurk-lem

Added eval.rs
  src/lem/eval.rs
  src/lem/macros.rs
  src/lem/mod.rs
Owners: @lurk-lab/lurk-lem

started improving the interpreter
  src/lem/constrainer.rs
  src/lem/interpreter.rs
Owners: @lurk-lab/lurk-lem

further optimize and improve documentation
  src/lem/constrainer.rs
  src/lem/eval.rs
  src/lem/interpreter.rs
  src/lem/mod.rs
Owners: @lurk-lab/lurk-lem

eliminate some repetitions on the interpreter
  src/lem/interpreter.rs
Owners: @lurk-lab/lurk-lem

properly reset allocation manager on tests
  src/lem/eval.rs
  src/lem/mod.rs
Owners: @lurk-lab/lurk-lem

.github/CODEOWNERS:

# Global Owners: @porcuquine, @huitseeker
* @lurk-lab/lurk-noncircuit

# CI maintenance
/.circleci/** @lurk-lab/lurk-ci
/.config/** @lurk-lab/lurk-ci
/.github/** @lurk-lab/lurk-ci

# Circuit
/src/circuit/** @lurk-lab/lurk-circuit

# LEM
/src/lem/** @lurk-lab/lurk-lem

# Order is important; the last matching pattern takes the most
# precedence. This excludes @everyone but @porcuquine for /src/eval.rs
/src/eval/** @porcuquine
