Repository argumentcomputer/lurk-beta, changes with the owners that .github/CODEOWNERS names for each.
All owners: @lurk-lab/lurk-noncircuit, @lurk-lab/lurk-ci, @lurk-lab/lurk-circuit, @lurk-lab/lurk-lem, @porcuquine

.github/CODEOWNERS:

# Global Owners: @porcuquine, @huitseeker
* @lurk-lab/lurk-noncircuit

# CI maintenance
/.circleci/** @lurk-lab/lurk-ci
/.config/** @lurk-lab/lurk-ci
/.github/** @lurk-lab/lurk-ci

# Circuit
/src/circuit/** @lurk-lab/lurk-circuit

# LEM
/src/lem/** @lurk-lab/lurk-lem

# Order is important; the last matching pattern takes the most
# precedence. This excludes @everyone but @porcuquine for /src/eval.rs
/src/eval/** @porcuquine

test: Implement conditional serde tests in z_data module
  src/z_data/z_cont.rs
  src/z_data/z_expr.rs
  src/z_data/z_ptr.rs
  src/z_data/z_store.rs
Owners: @lurk-lab/lurk-noncircuit

Recursive `num_constraints`
  src/lem/circuit.rs
Owners: @lurk-lab/lurk-lem

chore: Patch `sppark` to unreleased version
  Cargo.lock
  Cargo.toml
Owners: @lurk-lab/lurk-noncircuit

chore: Patch `sppark` to unreleased version (#516)
  Cargo.lock
  Cargo.toml
Owners: @lurk-lab/lurk-noncircuit

Streamline serde and zdata round-trip tests (#515)
  Cargo.lock
  Cargo.toml
  lurk-macros/Cargo.toml
  lurk-macros/src/lib.rs
  src/eval/mod.rs
  src/symbol.rs
  src/uint.rs
  src/z_data/z_cont.rs
  src/z_data/z_expr.rs
  src/z_data/z_ptr.rs
  src/z_data/z_store.rs
Owners: @lurk-lab/lurk-noncircuit, @porcuquine

CLI implementation with `clap` (#496)
  Cargo.lock
  Cargo.toml
  README.md
  src/cli/mod.rs
  src/cli/paths.rs
  src/cli/prove_and_verify.rs
  src/cli/repl.rs
  src/main.rs
Owners: @lurk-lab/lurk-noncircuit

Macros for `Call` and generalized return
  src/lem/macros.rs
Owners: @lurk-lab/lurk-lem

WIP: nova generic
  src/proof/nova.rs
  src/public_parameters/mod.rs
  src/public_parameters/registry.rs
Owners: @lurk-lab/lurk-noncircuit

remove duplication for some type aliases
  src/proof/nova.rs
Owners: @lurk-lab/lurk-noncircuit

Finished `circuit.rs`
  src/lem/circuit.rs
  src/lem/interpreter.rs
  src/lem/mod.rs
  src/lem/path.rs
Owners: @lurk-lab/lurk-lem

Inlined Ctrl methods
  src/lem/circuit.rs
  src/lem/interpreter.rs
  src/lem/mod.rs
  src/lem/path.rs
Owners: @lurk-lab/lurk-lem

Fixed paths
  src/lem/interpreter.rs
  src/lem/path.rs
Owners: @lurk-lab/lurk-lem

uncomment makefile_tests.rs
  fcomm/tests/makefile_tests.rs
Owners: @lurk-lab/lurk-noncircuit

fmt
  fcomm/tests/makefile_tests.rs
Owners: @lurk-lab/lurk-noncircuit

comment out padding code
  src/cli/repl.rs
Owners: @lurk-lab/lurk-noncircuit

chore: Update sppark dependency to a particular version
  Cargo.lock
  Cargo.toml
Owners: @lurk-lab/lurk-noncircuit

lurk, fcomm, clutch build
  Cargo.lock
  clutch/Cargo.toml
  clutch/src/lib.rs
  fcomm/Cargo.toml
  fcomm/src/bin/fcomm.rs
  fcomm/src/error.rs
  fcomm/src/lib.rs
  fcomm/tests/makefile_tests.rs
  fcomm/tests/proof_tests.rs
  src/file_map.rs
  src/lib.rs
  src/public_parameters/error.rs
  src/public_parameters/mod.rs
  src/public_parameters/registry.rs
Owners: @lurk-lab/lurk-noncircuit

uncomment pp cache eprintln
  src/public_parameters/registry.rs
Owners: @lurk-lab/lurk-noncircuit

delete error comment
  fcomm/src/lib.rs
Owners: @lurk-lab/lurk-noncircuit

input -> output
  fcomm/src/bin/fcomm.rs
Owners: @lurk-lab/lurk-noncircuit

move file_map to public_parameters module
  fcomm/src/lib.rs
  src/lib.rs
  src/public_parameters/file_map.rs
  src/public_parameters/mod.rs
  src/public_parameters/registry.rs
Owners: @lurk-lab/lurk-noncircuit

clean up fcomm error
  fcomm/src/error.rs
Owners: @lurk-lab/lurk-noncircuit

fix public_param impl block
  src/cli/mod.rs
  src/cli/prove_and_verify.rs
  src/cli/repl.rs
  src/public_parameters/error.rs
  src/public_parameters/mod.rs
Owners: @lurk-lab/lurk-noncircuit

uncomment test_make_fcomm_examples
  fcomm/tests/makefile_tests.rs
Owners: @lurk-lab/lurk-noncircuit

remove extra parens from evaluated expression
  examples/sha256.rs
Owners: @lurk-lab/lurk-noncircuit

fix rebase conflicts
  examples/sha256.rs
Owners: @lurk-lab/lurk-noncircuit

New `deconflict`
  src/lem/eval.rs
  src/lem/mod.rs
  src/lem/path.rs
Owners: @lurk-lab/lurk-lem

chore: Update sppark dependency to a particular version (#522)
  Cargo.lock
  Cargo.toml
Owners: @lurk-lab/lurk-noncircuit

constrain preimage?
  examples/sha256.rs
Owners: @lurk-lab/lurk-noncircuit

Finished `deconflict` of `Call`
  src/lem/circuit.rs
  src/lem/mod.rs
Owners: @lurk-lab/lurk-lem

use `alloc_conditionally`
  examples/sha256.rs
Owners: @lurk-lab/lurk-noncircuit

reinstate `Cert` and its test
  fcomm/src/lib.rs
Owners: @lurk-lab/lurk-noncircuit

add `#allow(dead_code)]` to `pad_iterations`
  src/cli/repl.rs
Owners: @lurk-lab/lurk-noncircuit

Move `fcomm` components back (#447)
  Cargo.lock
  clutch/Cargo.toml
  clutch/src/lib.rs
  fcomm/Cargo.toml
  fcomm/src/bin/fcomm.rs
  fcomm/src/error.rs
  fcomm/src/lib.rs
  fcomm/tests/makefile_tests.rs
  fcomm/tests/proof_tests.rs
  src/cli/mod.rs
  src/cli/prove_and_verify.rs
  src/cli/repl.rs
  src/public_parameters/error.rs
  src/public_parameters/mod.rs
  src/public_parameters/registry.rs
Owners: @lurk-lab/lurk-noncircuit

attempt to return terminal cont ptr
  examples/sha256.rs
Owners: @lurk-lab/lurk-noncircuit

Simplified deconflict, new skeleton of `eval_step`, bug fixes
  src/lem/circuit.rs
  src/lem/eval.rs
  src/lem/interpreter.rs
  src/lem/mod.rs
Owners: @lurk-lab/lurk-lem

Fixed `num_constraints`
  src/lem/circuit.rs
  src/lem/eval.rs
  src/lem/mod.rs
Owners: @lurk-lab/lurk-lem

chore: Update 'anymap' dependency and refactor related usage
  Cargo.lock
  Cargo.toml
  src/public_parameters/registry.rs
Owners: @lurk-lab/lurk-noncircuit

chore: Update 'anymap' dependency and refactor related usage (#530)
  Cargo.lock
  Cargo.toml
  src/public_parameters/registry.rs
Owners: @lurk-lab/lurk-noncircuit

ci: Enhance upstream update workflow with rebase and tests
  .github/workflows/upstream_update.yml
Owners: @lurk-lab/lurk-ci
