Repository argumentcomputer/lurk-beta, changes with the owners that .github/CODEOWNERS names for each.
All owners: @lurk-lab/lurk-noncircuit, @lurk-lab/lurk-ci, @lurk-lab/lurk-circuit, @lurk-lab/lurk-lem, @porcuquine

.github/CODEOWNERS:

# Global Owners: @porcuquine, @huitseeker
* @lurk-lab/lurk-noncircuit

# CI maintenance
/.circleci/** @lurk-lab/lurk-ci
/.config/** @lurk-lab/lurk-ci
/.github/** @lurk-lab/lurk-ci

# Circuit
/src/circuit/** @lurk-lab/lurk-circuit

# LEM
/src/lem/** @lurk-lab/lurk-lem

# Order is important; the last matching pattern takes the most
# precedence. This excludes @everyone but @porcuquine for /src/eval.rs
/src/eval/** @porcuquine

use 'SlotData' struct
  src/lem/constrainer.rs
Owners: @lurk-lab/lurk-lem

typo
  src/lem/constrainer.rs
Owners: @lurk-lab/lurk-lem

Update comments
  src/lem/constrainer.rs
Owners: @lurk-lab/lurk-lem

adjustments on 'create_slot_constraints'
  src/lem/constrainer.rs
Owners: @lurk-lab/lurk-lem

ci: make checkouts recursive (#442)
  .github/workflows/rust.yml
Owners: @lurk-lab/lurk-ci

Fix circuit uniformity problems
  src/lem/constrainer.rs
  src/lem/mod.rs
Owners: @lurk-lab/lurk-lem

Remove auxiliar vectors
  src/lem/constrainer.rs
Owners: @lurk-lab/lurk-lem

Some improvements
  src/lem/constrainer.rs
Owners: @lurk-lab/lurk-lem

Issue426 (#432)
  src/circuit/circuit_frame.rs
  src/proof/nova.rs
Owners: @lurk-lab/lurk-circuit, @lurk-lab/lurk-noncircuit

Remove macro param
  src/lem/constrainer.rs
  src/lem/mod.rs
Owners: @lurk-lab/lurk-lem

Create fill_dummies macro
  src/lem/constrainer.rs
Owners: @lurk-lab/lurk-lem

simplify dummy hash allocation
  src/lem/constrainer.rs
Owners: @lurk-lab/lurk-lem

Revert to Nova 0.21.0
  Cargo.lock
  Cargo.toml
  src/public_parameters/mod.rs
Owners: @lurk-lab/lurk-noncircuit

Fix number of variables
  src/lem/eval.rs
Owners: @lurk-lab/lurk-lem

small optimization to get any allocated number from the allocation manager
  src/lem/constrainer.rs
  src/lem/eval.rs
Owners: @lurk-lab/lurk-lem

Use neptune witness-generation.
  Cargo.lock
  Cargo.toml
  benches/fibonacci.rs
  benches/synthesis.rs
  build.rs
  clutch/src/lib.rs
  examples/fibonacci.rs
  fcomm/Cargo.toml
  src/circuit/circuit_frame.rs
  src/circuit/gadgets/data.rs
  src/circuit/gadgets/hashes.rs
  src/config.rs
  src/eval/mod.rs
  src/hash_witness.rs
  src/lib.rs
  src/main.rs
  src/proof/groth16.rs
  src/proof/nova.rs
Owners: @lurk-lab/lurk-noncircuit, @lurk-lab/lurk-circuit, @porcuquine

More clippy tuning (#441)
  .clippy.toml
  clutch/.clippy.toml
  fcomm/.clippy.toml
  lurk-macros/.clippy.toml
  src/coprocessor/mod.rs
  tests/light-data-exprs.rs
Owners: @lurk-lab/lurk-noncircuit

deploy: 0dcbd2a2431312c5c5faf5ad8da2b86995231a59
  docs/lurk/coprocessor/index.html
  docs/src/lurk/coprocessor/mod.rs.html
Owners: @lurk-lab/lurk-noncircuit

Fix head ref in benchmark action
  .github/workflows/pr-bench.yml
Owners: @lurk-lab/lurk-ci

iterate on the minor details of the review process
  src/lem/constrainer.rs
  src/lem/eval.rs
  src/lem/interpreter.rs
  src/lem/mod.rs
Owners: @lurk-lab/lurk-lem

compute 'preimg' with a 1-liner in 'push_slot_info'
  src/lem/constrainer.rs
Owners: @lurk-lab/lurk-lem

some renamings
  src/lem/constrainer.rs
Owners: @lurk-lab/lurk-lem

Order slots
  src/lem/constrainer.rs
Owners: @lurk-lab/lurk-lem

Add GPU test on PR merge
  .github/workflows/rust.yml
Owners: @lurk-lab/lurk-ci

use flat_map to define preimg
  src/lem/constrainer.rs
Owners: @lurk-lab/lurk-lem

Reorganize
  src/lem/constrainer.rs
Owners: @lurk-lab/lurk-lem

Add itcalc example.
  Cargo.lock
  Cargo.toml
  examples/itcalc.rs
Owners: @lurk-lab/lurk-noncircuit

Fixed circuit bugs in both `let` and `letrec` cases
  src/circuit/circuit_frame.rs
Owners: @lurk-lab/lurk-circuit

Sketch an approach to hash constraints.
  src/lem/constrainer.rs
  src/lem/interpreter.rs
  src/lem/mod.rs
Owners: @lurk-lab/lurk-lem

auxiliar collection of hash witnesses
  src/lem/constrainer.rs
  src/lem/interpreter.rs
  src/lem/mod.rs
Owners: @lurk-lab/lurk-lem

Fixed `let` and `letrec` conflicts
  src/circuit/circuit_frame.rs
  src/eval/reduction.rs
Owners: @lurk-lab/lurk-circuit, @porcuquine

Fix head ref in benchmark action (#443)
  .github/workflows/pr-bench.yml
Owners: @lurk-lab/lurk-ci

Removed unnecessary tests
  src/proof/nova.rs
Owners: @lurk-lab/lurk-noncircuit

cargo fmt
  src/circuit/circuit_frame.rs
Owners: @lurk-lab/lurk-circuit

Add GPU options
  .github/workflows/rust.yml
Owners: @lurk-lab/lurk-ci

Remove scary if
  src/lem/constrainer.rs
Owners: @lurk-lab/lurk-lem

Fixed number of constraints
  src/circuit/circuit_frame.rs
Owners: @lurk-lab/lurk-circuit

Create hash_helper macro
  src/lem/constrainer.rs
Owners: @lurk-lab/lurk-lem

Fix problems
  src/lem/constrainer.rs
Owners: @lurk-lab/lurk-lem

Fixed flake.nix
  flake.nix
Owners: @lurk-lab/lurk-noncircuit
