Repository argumentcomputer/lurk-beta, changes with the owners that .github/CODEOWNERS names for each.
All owners: @lurk-lab/lurk-noncircuit, @lurk-lab/lurk-ci, @lurk-lab/lurk-circuit, @lurk-lab/lurk-lem, @porcuquine

.github/CODEOWNERS:

# Global Owners: @porcuquine, @huitseeker
* @lurk-lab/lurk-noncircuit

# CI maintenance
/.circleci/** @lurk-lab/lurk-ci
/.config/** @lurk-lab/lurk-ci
/.github/** @lurk-lab/lurk-ci

# Circuit
/src/circuit/** @lurk-lab/lurk-circuit

# LEM
/src/lem/** @lurk-lab/lurk-lem

# Order is important; the last matching pattern takes the most
# precedence. This excludes @everyone but @porcuquine for /src/eval.rs
/src/eval/** @porcuquine

drops the need for the assumption that LEMs must be in SSA
  src/lem/circuit.rs
  src/lem/interpreter.rs
  src/lem/mod.rs
  src/lem/path.rs
  src/lem/var_map.rs
Owners: @lurk-lab/lurk-lem

Match tag a | b ... => syntax
  src/lem/eval.rs
  src/lem/macros.rs
  src/lem/tag.rs
Owners: @lurk-lab/lurk-lem

WIP skeleton
  Cargo.lock
  Cargo.toml
  src/main.rs
Owners: @lurk-lab/lurk-noncircuit

eliminate some repetition
  src/main.rs
Owners: @lurk-lab/lurk-noncircuit

change sha256 benchmark
  examples/sha256.rs
Owners: @lurk-lab/lurk-noncircuit

constraint second limb
  examples/sha256.rs
Owners: @lurk-lab/lurk-noncircuit

First implementation of match_map
  src/lem/mod.rs
  src/lem/path.rs
Owners: @lurk-lab/lurk-lem

Partial implementation of the macros
  src/lem/eval.rs
  src/lem/macros.rs
  src/lem/mod.rs
Owners: @lurk-lab/lurk-lem

run -> load; add an optional load argument to the repl command
  src/main.rs
Owners: @lurk-lab/lurk-noncircuit

refactor
  src/main.rs
Owners: @lurk-lab/lurk-noncircuit

Macro for match tag finished
  src/lem/macros.rs
Owners: @lurk-lab/lurk-lem

cli module
  src/cli/mod.rs
  src/main.rs
Owners: @lurk-lab/lurk-noncircuit

refactor: avoid runtime mutability checks in the store
  src/store.rs
Owners: @lurk-lab/lurk-noncircuit

better code structure
  src/cli/loader.rs
  src/cli/mod.rs
  src/cli/prove_and_verify.rs
Owners: @lurk-lab/lurk-noncircuit

cli::run_cli -> cli::parse
  src/cli/mod.rs
  src/main.rs
Owners: @lurk-lab/lurk-noncircuit

handle non meta
  src/cli/loader.rs
Owners: @lurk-lab/lurk-noncircuit

add `as_lurk_boolean` and use it in coprocessor and circuit
  examples/sha256.rs
  src/circuit/circuit_frame.rs
  src/circuit/gadgets/constraints.rs
  src/circuit/gadgets/data.rs
  src/circuit/gadgets/mod.rs
  src/eval/reduction.rs
Owners: @lurk-lab/lurk-noncircuit, @lurk-lab/lurk-circuit, @porcuquine

handle meta
  src/cli/loader.rs
  src/cli/mod.rs
  src/cli/prove_and_verify.rs
Owners: @lurk-lab/lurk-noncircuit

move as_lurk_boolean to the right place
  examples/sha256.rs
  src/circuit/circuit_frame.rs
  src/circuit/gadgets/constraints.rs
  src/circuit/gadgets/pointer.rs
Owners: @lurk-lab/lurk-noncircuit, @lurk-lab/lurk-circuit

fix preimage hack
  examples/sha256.rs
Owners: @lurk-lab/lurk-noncircuit

load file and some optimizations
  src/cli/loader.rs
Owners: @lurk-lab/lurk-noncircuit

prepare for proving and verification
  src/cli/loader.rs
  src/cli/mod.rs
Owners: @lurk-lab/lurk-noncircuit

small adjustments
  src/cli/loader.rs
Owners: @lurk-lab/lurk-noncircuit

Macro for match symbol
  src/lem/macros.rs
Owners: @lurk-lab/lurk-lem

lurk, fcomm, clutch build
  Cargo.lock
  Cargo.toml
  clutch/Cargo.toml
  clutch/src/lib.rs
  fcomm/Cargo.toml
  fcomm/src/bin/fcomm.rs
  fcomm/src/error.rs
  fcomm/src/lib.rs
  fcomm/tests/makefile_tests.rs
  fcomm/tests/proof_tests.rs
  src/file_map.rs
  src/lib.rs
  src/public_parameters/error.rs
  src/public_parameters/mod.rs
  src/public_parameters/registry.rs
Owners: @lurk-lab/lurk-noncircuit

delete extraneous `get_constants()`
  src/circuit/circuit_frame.rs
Owners: @lurk-lab/lurk-circuit

small improvements
  src/cli/loader.rs
  src/cli/mod.rs
Owners: @lurk-lab/lurk-noncircuit

remove some panics
  src/cli/loader.rs
Owners: @lurk-lab/lurk-noncircuit

configurable rc
  src/cli/loader.rs
  src/cli/mod.rs
Owners: @lurk-lab/lurk-noncircuit

chore: run clippy
  clutch/src/lib.rs
  src/field.rs
  src/lem/interpreter.rs
  src/lem/store.rs
  src/syntax_macros.rs
  src/z_data.rs
Owners: @lurk-lab/lurk-noncircuit, @lurk-lab/lurk-lem

test: Improve error messaging for parser test assertions
  src/parser/base.rs
  src/parser/string.rs
Owners: @lurk-lab/lurk-noncircuit

refactor: Refactor code for readability using Option::then
  src/eval/mod.rs
  src/lem/store.rs
  src/proof/groth16.rs
Owners: @porcuquine, @lurk-lab/lurk-lem, @lurk-lab/lurk-noncircuit

Upgrade Mac and ARM resource classes
  .circleci/config.yml
Owners: @lurk-lab/lurk-ci

[easy] Fix Clippy on master (#492)
  clutch/src/lib.rs
  src/eval/mod.rs
  src/field.rs
  src/lem/interpreter.rs
  src/lem/store.rs
  src/parser/base.rs
  src/parser/string.rs
  src/proof/groth16.rs
  src/syntax_macros.rs
  src/z_data.rs
Owners: @lurk-lab/lurk-noncircuit, @porcuquine, @lurk-lab/lurk-lem

update README; recover history
  README.md
  src/cli/loader.rs
  src/cli/mod.rs
  src/cli/paths.rs
Owners: @lurk-lab/lurk-noncircuit

validate rc != 0
  src/cli/loader.rs
  src/cli/mod.rs
  src/cli/paths.rs
Owners: @lurk-lab/lurk-noncircuit

factor out meta cases
  src/cli/loader.rs
Owners: @lurk-lab/lurk-noncircuit

small progress on proving
  src/cli/loader.rs
Owners: @lurk-lab/lurk-noncircuit

interpreter.rs finished
  src/lem/interpreter.rs
  src/lem/mod.rs
Owners: @lurk-lab/lurk-lem

Fixed bugs
  src/lem/mod.rs
  src/lem/path.rs
Owners: @lurk-lab/lurk-lem
