Repository argumentcomputer/lurk-beta, changes with the owners that .github/CODEOWNERS names for each.
All owners: @lurk-lab/lurk-noncircuit, @lurk-lab/lurk-ci, @lurk-lab/lurk-circuit, @lurk-lab/lurk-lem, @porcuquine

refactor: remove uneeded clones in circuit_frame
  src/circuit/circuit_frame.rs
  src/circuit/gadgets/constraints.rs
Owners: @lurk-lab/lurk-circuit

refactor some structs
  src/lem/constrainer.rs
  src/lem/macros.rs
  src/lem/mod.rs
Owners: @lurk-lab/lurk-lem

more refactoring; small bug fix
  src/lem/constrainer.rs
Owners: @lurk-lab/lurk-lem

simplify some namespaces
  src/lem/constrainer.rs
Owners: @lurk-lab/lurk-lem

test: Improve test coverage for enforce_implication_lc
  src/circuit/gadgets/constraints.rs
Owners: @lurk-lab/lurk-circuit

test: Add a test for enforce_implication_lc (#419)
  src/circuit/gadgets/constraints.rs
Owners: @lurk-lab/lurk-circuit

Assign correct FIELD.
  src/field.rs
Owners: @lurk-lab/lurk-noncircuit

Correct fields and use obvious aliases.
  benches/end2end.rs
  benches/fibonacci.rs
Owners: @lurk-lab/lurk-noncircuit

Document field names.
  src/field.rs
Owners: @lurk-lab/lurk-noncircuit

Use obviously-identifying Scalar type aliases.
  clutch/src/main.rs
  src/main.rs
Owners: @lurk-lab/lurk-noncircuit

more refactoring; WIP slot allocation for Hash4/Unhash4
  src/lem/constrainer.rs
Owners: @lurk-lab/lurk-lem

rename 'witness' to 'valuation'
  src/lem/constrainer.rs
  src/lem/eval.rs
  src/lem/interpreter.rs
  src/lem/mod.rs
Owners: @lurk-lab/lurk-lem

attempt to use closures
  src/public_parameters/mod.rs
Owners: @lurk-lab/lurk-noncircuit

attempt to use closures
  Cargo.lock
  Cargo.toml
  src/public_parameters/registry.rs
Owners: @lurk-lab/lurk-noncircuit

chore: Less cloning (#420)
  benches/synthesis.rs
  src/circuit/circuit_frame.rs
  src/circuit/gadgets/constraints.rs
  src/hash.rs
  src/lem/interpreter.rs
  src/lem/mod.rs
  src/lem/symbol.rs
  src/proof/groth16.rs
  src/proof/nova.rs
Owners: @lurk-lab/lurk-noncircuit, @lurk-lab/lurk-circuit, @lurk-lab/lurk-lem

Rectify language fields (#423)
  benches/end2end.rs
  benches/fibonacci.rs
  clutch/src/main.rs
  src/field.rs
  src/main.rs
Owners: @lurk-lab/lurk-noncircuit

deploy: ea1a65054e881c98e3c701a8157fe85d7940d5ac
  docs/lurk/field/enum.LanguageField.html
  docs/lurk/field/index.html
  docs/lurk/field/struct.FWrap.html
  docs/lurk/field/trait.LurkField.html
  docs/lurk/light_data/trait.Encodable.html
  docs/src/lurk/field.rs.html
  docs/src/lurkrs/main.rs.html
Owners: @lurk-lab/lurk-noncircuit

Fix inplies/enforce tag constraints
  src/lem/constrainer.rs
Owners: @lurk-lab/lurk-lem

remove unwraps
  src/lem/constrainer.rs
Owners: @lurk-lab/lurk-lem

Use latest Nova for serde fix
  Cargo.lock
  Cargo.toml
  src/public_parameters/mod.rs
Owners: @lurk-lab/lurk-noncircuit

Trie paths have length 85.
  src/coprocessor/trie/mod.rs
  src/eval/tests/trie.rs
Owners: @lurk-lab/lurk-noncircuit, @porcuquine

Prefer the verbose way.
  src/coprocessor/trie/mod.rs
Owners: @lurk-lab/lurk-noncircuit

Add another transmute and clarify safety.
  src/hash.rs
Owners: @lurk-lab/lurk-noncircuit

Remove useless cfg.
  src/coprocessor/trie/mod.rs
Owners: @lurk-lab/lurk-noncircuit

Use <=.
  src/coprocessor/trie/mod.rs
Owners: @lurk-lab/lurk-noncircuit

Move compute_hash to PoseidonCache.
  src/coprocessor/trie/mod.rs
  src/hash.rs
Owners: @lurk-lab/lurk-noncircuit

Refactor constructors and validate arity/height/size.
  src/coprocessor/trie/mod.rs
Owners: @lurk-lab/lurk-noncircuit

Panic before creating Trie with unsupported ARITY.
  src/coprocessor/trie/mod.rs
Owners: @lurk-lab/lurk-noncircuit

Specify empty element to be zero explicitly.
  src/coprocessor/trie/mod.rs
Owners: @lurk-lab/lurk-noncircuit

Remove count.
  src/coprocessor/trie/mod.rs
Owners: @lurk-lab/lurk-noncircuit

Optimize evaluation-time insert-proof checking.
  src/coprocessor/trie/mod.rs
Owners: @lurk-lab/lurk-noncircuit

Add documentation.
  src/coprocessor/trie/mod.rs
Owners: @lurk-lab/lurk-noncircuit

Use sum.
  src/coprocessor/trie/mod.rs
Owners: @lurk-lab/lurk-noncircuit

Trim defunct, incomplete comment.
  src/coprocessor/trie/mod.rs
Owners: @lurk-lab/lurk-noncircuit

Use boolean then.
  src/coprocessor/trie/mod.rs
Owners: @lurk-lab/lurk-noncircuit

Add trie coprocessor.
  src/coprocessor/mod.rs
  src/coprocessor/trie/mod.rs
  src/eval/tests/mod.rs
  src/eval/tests/trie.rs
  src/hash.rs
  src/store.rs
Owners: @lurk-lab/lurk-noncircuit, @porcuquine

Remove verbose duplication.
  src/coprocessor/trie/mod.rs
Owners: @lurk-lab/lurk-noncircuit

Remove defunct comment.
  src/coprocessor/trie/mod.rs
Owners: @lurk-lab/lurk-noncircuit

Use const ZERO.
  src/coprocessor/trie/mod.rs
Owners: @lurk-lab/lurk-noncircuit

Fix chained fcomm test
  fcomm/tests/proof_tests.rs
  src/public_parameters/mod.rs
  src/store.rs
  src/syntax.rs
  src/z_data/z_store.rs
Owners: @lurk-lab/lurk-noncircuit

.github/CODEOWNERS:

# Global Owners: @porcuquine, @huitseeker
* @lurk-lab/lurk-noncircuit

# CI maintenance
/.circleci/** @lurk-lab/lurk-ci
/.config/** @lurk-lab/lurk-ci
/.github/** @lurk-lab/lurk-ci

# Circuit
/src/circuit/** @lurk-lab/lurk-circuit

# LEM
/src/lem/** @lurk-lab/lurk-lem

# Order is important; the last matching pattern takes the most
# precedence. This excludes @everyone but @porcuquine for /src/eval.rs
/src/eval/** @porcuquine
