Repository argumentcomputer/lurk-beta, changes with the owners that .github/CODEOWNERS names for each.
All owners: @lurk-lab/lurk-noncircuit, @lurk-lab/lurk-ci, @lurk-lab/lurk-circuit, @lurk-lab/lurk-lem, @porcuquine

.github/CODEOWNERS:

# Global Owners: @porcuquine, @huitseeker
* @lurk-lab/lurk-noncircuit

# CI maintenance
/.circleci/** @lurk-lab/lurk-ci
/.config/** @lurk-lab/lurk-ci
/.github/** @lurk-lab/lurk-ci

# Circuit
/src/circuit/** @lurk-lab/lurk-circuit

# LEM
/src/lem/** @lurk-lab/lurk-lem

# Order is important; the last matching pattern takes the most
# precedence. This excludes @everyone but @porcuquine for /src/eval.rs
/src/eval/** @porcuquine

Fixed letrec and fold test
  src/lem/eval.rs
Owners: @lurk-lab/lurk-lem

fixed formatting
  src/lem/eval.rs
Owners: @lurk-lab/lurk-lem

start formalizing the state
  src/lib.rs
  src/package.rs
  src/packaging/manager.rs
  src/packaging/mod.rs
  src/state.rs
Owners: @lurk-lab/lurk-noncircuit

fix printing
  src/package.rs
  src/state.rs
  src/symbol.rs
Owners: @lurk-lab/lurk-noncircuit

general printing behavior works!
  src/state.rs
  src/symbol.rs
Owners: @lurk-lab/lurk-noncircuit

sequential interning
  src/state.rs
Owners: @lurk-lab/lurk-noncircuit

Refactor cache and add configurable directory
  Cargo.toml
  benches/end2end.rs
  benches/fibonacci.rs
  clutch/src/lib.rs
  examples/sha256.rs
  fcomm/Cargo.toml
  fcomm/src/bin/fcomm.rs
  fcomm/src/file_map.rs
  fcomm/src/lib.rs
  fcomm/tests/proof_tests.rs
  src/cli/lurk_proof.rs
  src/cli/mod.rs
  src/cli/paths.rs
  src/cli/repl.rs
  src/eval/lang.rs
  src/public_parameters/disk_cache.rs
  src/public_parameters/file_map.rs
  src/public_parameters/mem_cache.rs
  src/public_parameters/mod.rs
Owners: @lurk-lab/lurk-noncircuit, @porcuquine

progress on syntax
  src/parser/syntax.rs
  src/state.rs
  src/store.rs
  src/symbol.rs
  src/syntax.rs
  src/syntax_macros.rs
  src/writer.rs
Owners: @lurk-lab/lurk-noncircuit

plumbing the state
  clutch/src/lib.rs
  src/eval/lang.rs
  src/eval/tests/mod.rs
  src/parser.rs
  src/proof/nova.rs
  src/repl.rs
  src/state.rs
  src/store.rs
  src/symbol.rs
  src/syntax.rs
  src/syntax_macros.rs
  src/writer.rs
  src/z_data/z_expr.rs
  src/z_data/z_store.rs
Owners: @lurk-lab/lurk-noncircuit, @porcuquine

killing lurk_sym
  src/eval/lang.rs
  src/eval/tests/mod.rs
  src/proof/groth16.rs
  src/proof/nova.rs
  src/repl.rs
  src/state.rs
  src/store.rs
  src/symbol.rs
  src/syntax.rs
  src/writer.rs
Owners: @porcuquine, @lurk-lab/lurk-noncircuit

more progress
  src/circuit/circuit_frame.rs
  src/cli/repl.rs
  src/eval/reduction.rs
  src/eval/tests/mod.rs
  src/hash_witness.rs
  src/parser.rs
  src/proof/groth16.rs
  src/proof/nova.rs
  src/repl.rs
  src/state.rs
  src/store.rs
  src/symbol.rs
  src/syntax.rs
  src/syntax_macros.rs
  src/writer.rs
  src/z_data/z_store.rs
Owners: @lurk-lab/lurk-circuit, @lurk-lab/lurk-noncircuit, @porcuquine

Update src/lem/eval.rs
  src/lem/eval.rs
Owners: @lurk-lab/lurk-lem

Renaming
  src/lem/eval.rs
Owners: @lurk-lab/lurk-lem

LEM evaluation (#489)
  src/lem/circuit.rs
  src/lem/eval.rs
  src/lem/interpreter.rs
  src/lem/macros.rs
  src/lem/mod.rs
  src/lem/path.rs
  src/lem/pointers.rs
  src/lem/slot.rs
  src/lem/store.rs
  src/lem/symbol.rs
  src/lem/tag.rs
Owners: @lurk-lab/lurk-lem
