Repository argumentcomputer/lurk-beta, changes with the owners that .github/CODEOWNERS names for each.
All owners: @lurk-lab/lurk-noncircuit, @lurk-lab/lurk-ci, @lurk-lab/lurk-circuit, @lurk-lab/lurk-lem, @porcuquine

.github/CODEOWNERS:

# Global Owners: @porcuquine, @huitseeker
* @lurk-lab/lurk-noncircuit

# CI maintenance
/.circleci/** @lurk-lab/lurk-ci
/.config/** @lurk-lab/lurk-ci
/.github/** @lurk-lab/lurk-ci

# Circuit
/src/circuit/** @lurk-lab/lurk-circuit

# LEM
/src/lem/** @lurk-lab/lurk-lem

# Order is important; the last matching pattern takes the most
# precedence. This excludes @everyone but @porcuquine for /src/eval.rs
/src/eval/** @porcuquine

small naming adjustments
  src/lem/constrainer.rs
Owners: @lurk-lab/lurk-lem

initiate some vectors with known maximum capacities
  src/lem/constrainer.rs
  src/lem/mod.rs
Owners: @lurk-lab/lurk-lem

Renaming
  src/lem/constrainer.rs
Owners: @lurk-lab/lurk-lem

more minor adjustments
  src/lem/constrainer.rs
  src/lem/eval.rs
  src/lem/interpreter.rs
  src/lem/store.rs
Owners: @lurk-lab/lurk-lem

Add GPU test on PR merge (#444)
  .github/workflows/rust.yml
Owners: @lurk-lab/lurk-ci

Update STEP comments
  src/lem/constrainer.rs
  src/lem/interpreter.rs
  src/lem/mod.rs
Owners: @lurk-lab/lurk-lem

another renaming; remove 'check' from every call to 'LEM::new'
  src/lem/eval.rs
  src/lem/mod.rs
  src/lem/store.rs
Owners: @lurk-lab/lurk-lem

reorganizing code
  src/lem/constrainer.rs
  src/lem/mod.rs
  src/lem/path.rs
Owners: @lurk-lab/lurk-lem

Use bellperson master.
  Cargo.lock
  Cargo.toml
Owners: @lurk-lab/lurk-noncircuit

compute the number of LEMOP paths explored by the interpreter and the number of possible paths
  src/lem/constrainer.rs
  src/lem/eval.rs
  src/lem/interpreter.rs
  src/lem/mod.rs
  src/lem/path.rs
Owners: @lurk-lab/lurk-lem

small reorganization
  src/lem/path.rs
Owners: @lurk-lab/lurk-lem

proper abstraction for LEM paths
  src/lem/constrainer.rs
  src/lem/mod.rs
  src/lem/path.rs
Owners: @lurk-lab/lurk-lem

1 line simplification
  src/lem/constrainer.rs
Owners: @lurk-lab/lurk-lem

Use specific bellperson commit.
  Cargo.lock
  Cargo.toml
Owners: @lurk-lab/lurk-noncircuit

Added tests back
  src/proof/nova.rs
Owners: @lurk-lab/lurk-noncircuit

Issue426 (#432)
  src/circuit/circuit_frame.rs
  src/proof/nova.rs
Owners: @lurk-lab/lurk-circuit, @lurk-lab/lurk-noncircuit

ci: make checkouts recursive (#442)
  .github/workflows/rust.yml
Owners: @lurk-lab/lurk-ci

Fix license formatting (#439)
  LICENSE-APACHE
  LICENSE-MIT
Owners: @lurk-lab/lurk-noncircuit

Fix branch comparison, remove unneeded permissions (#440)
  .github/workflows/pr-bench.yml
Owners: @lurk-lab/lurk-ci

More clippy tuning (#441)
  .clippy.toml
  clutch/.clippy.toml
  fcomm/.clippy.toml
  flake.nix
  lurk-macros/.clippy.toml
  src/coprocessor/mod.rs
Owners: @lurk-lab/lurk-noncircuit

Fix head ref in benchmark action (#443)
  .github/workflows/pr-bench.yml
Owners: @lurk-lab/lurk-ci

Add GPU test on PR merge (#444)
  .github/workflows/rust.yml
Owners: @lurk-lab/lurk-ci

infra to (optionally) test that all paths were taken
  src/lem/eval.rs
  src/lem/interpreter.rs
  src/lem/mod.rs
Owners: @lurk-lab/lurk-lem

Failing test for uniformity
  src/lem/constrainer.rs
  src/lem/mod.rs
Owners: @lurk-lab/lurk-lem

Addressed the change requests
  src/circuit/circuit_frame.rs
  src/proof/nova.rs
Owners: @lurk-lab/lurk-circuit, @lurk-lab/lurk-noncircuit

refactor return
  src/lem/eval.rs
  src/lem/interpreter.rs
  src/lem/mod.rs
Owners: @lurk-lab/lurk-lem

small optimization
  src/lem/eval.rs
  src/lem/interpreter.rs
Owners: @lurk-lab/lurk-lem

fix path counting; WIP returns
  src/lem/constrainer.rs
  src/lem/path.rs
Owners: @lurk-lab/lurk-lem

ci: add action for signaling rebases on upstream
  .github/workflows/upstream_update.yml
Owners: @lurk-lab/lurk-ci

attempting returns
  src/lem/constrainer.rs
Owners: @lurk-lab/lurk-lem

solve returns
  src/lem/constrainer.rs
  src/lem/mod.rs
Owners: @lurk-lab/lurk-lem

ci: add action for signaling rebases on upstream (#448)
  .github/workflows/upstream_update.yml
Owners: @lurk-lab/lurk-ci

small refactor; optimize
  src/lem/constrainer.rs
  src/lem/eval.rs
  src/lem/interpreter.rs
  src/lem/mod.rs
Owners: @lurk-lab/lurk-lem

Better tests
  src/proof/nova.rs
Owners: @lurk-lab/lurk-noncircuit

WIP refactor hash slots
  src/lem/constrainer.rs
Owners: @lurk-lab/lurk-lem

WIP: implies_equal
  src/lem/constrainer.rs
Owners: @lurk-lab/lurk-lem

ci: Add dependeabot config for GH Actions
  .github/dependabot.yml
Owners: @lurk-lab/lurk-ci

ci: fix issue creation in upstream_update
  .github/workflows/upstream_update.yml
Owners: @lurk-lab/lurk-ci

count slot indices
  src/lem/constrainer.rs
  src/lem/interpreter.rs
Owners: @lurk-lab/lurk-lem

ci: Refactor GPU tests and workflows in rust.yml
  .github/workflows/rust.yml
Owners: @lurk-lab/lurk-ci
