Repository argumentcomputer/lurk-beta, changes with the owners that .github/CODEOWNERS names for each.
All owners: @lurk-lab/lurk-noncircuit, @lurk-lab/lurk-ci, @lurk-lab/lurk-circuit, @lurk-lab/lurk-lem, @porcuquine

.github/CODEOWNERS:

# Global Owners: @porcuquine, @huitseeker
* @lurk-lab/lurk-noncircuit

# CI maintenance
/.circleci/** @lurk-lab/lurk-ci
/.config/** @lurk-lab/lurk-ci
/.github/** @lurk-lab/lurk-ci

# Circuit
/src/circuit/** @lurk-lab/lurk-circuit

# LEM
/src/lem/** @lurk-lab/lurk-lem

# Order is important; the last matching pattern takes the most
# precedence. This excludes @everyone but @porcuquine for /src/eval.rs
/src/eval/** @porcuquine

Small REPL improvements (#551)
  src/cli/repl.rs
Owners: @lurk-lab/lurk-noncircuit

Finished `Sym` case on `reduce`
  src/lem/eval.rs
Owners: @lurk-lab/lurk-lem

progress on apply continuation (let)
  src/lem/eval.rs
  src/lem/tag.rs
Owners: @lurk-lab/lurk-lem

feat: Implement compressed proofs benchmarking
  benches/end2end.rs
Owners: @lurk-lab/lurk-noncircuit

Bug fixes
  src/lem/circuit.rs
  src/lem/eval.rs
Owners: @lurk-lab/lurk-lem

chore: repair fcomm tests
  fcomm/examples/Makefile
  fcomm/examples/chained-request.json
Owners: @lurk-lab/lurk-noncircuit

ci: set up correct branch in pr-test.yml
  .github/workflows/pr-test.yml
Owners: @lurk-lab/lurk-ci

feat: Implement compressed proofs benchmarking (#518)
  benches/end2end.rs
Owners: @lurk-lab/lurk-noncircuit

Repair fcomm tests & ci (#554)
  .github/workflows/pr-test.yml
  fcomm/examples/Makefile
  fcomm/examples/chained-request.json
Owners: @lurk-lab/lurk-ci, @lurk-lab/lurk-noncircuit

chore: Setup grouped dependabot config + update dependencies (#548)
  .github/dependabot.yml
  Cargo.lock
  Cargo.toml
  clutch/Cargo.toml
  fcomm/Cargo.toml
  lurk-macros/Cargo.toml
Owners: @lurk-lab/lurk-ci, @lurk-lab/lurk-noncircuit

improve naming/structure and persisting robustness of commitments
  src/cli/commitment.rs
  src/cli/repl.rs
Owners: @lurk-lab/lurk-noncircuit

more renamings
  src/cli/lurk_proof.rs
  src/cli/repl.rs
Owners: @lurk-lab/lurk-noncircuit

`call_outputs` now a `VecDeque`
  src/lem/circuit.rs
  src/lem/interpreter.rs
Owners: @lurk-lab/lurk-lem

Fixed `call_outputs`
  src/lem/interpreter.rs
Owners: @lurk-lab/lurk-lem

Added `uncons`
  src/lem/circuit.rs
  src/lem/eval.rs
  src/lem/macros.rs
Owners: @lurk-lab/lurk-lem

Added skeleton for the rest of `reduce`
  src/lem/eval.rs
Owners: @lurk-lab/lurk-lem

Added an operation to bind symbols
  src/lem/circuit.rs
  src/lem/eval.rs
  src/lem/interpreter.rs
  src/lem/mod.rs
  src/lem/symbol.rs
Owners: @lurk-lab/lurk-lem

Finished lambda case of `reduce`
  src/eval/reduction.rs
  src/lem/eval.rs
  src/lem/macros.rs
Owners: @porcuquine, @lurk-lab/lurk-lem

commit/hide API for Commitment
  src/cli/commitment.rs
  src/cli/repl.rs
Owners: @lurk-lab/lurk-noncircuit

Finished let/letrec cases in `reduce`
  src/lem/eval.rs
  src/lem/tag.rs
Owners: @lurk-lab/lurk-lem

Finished begin case in `reduce`
  src/lem/eval.rs
  src/lem/tag.rs
Owners: @lurk-lab/lurk-lem

Finished eval, if and current-env cases in `reduce`
  src/lem/eval.rs
  src/lem/tag.rs
Owners: @lurk-lab/lurk-lem

add constant for non-hiding commitment secret; add Store::commit and use it elsewhere
  src/cli/commitment.rs
  src/cli/repl.rs
  src/eval/reduction.rs
  src/field.rs
  src/store.rs
Owners: @lurk-lab/lurk-noncircuit, @porcuquine

Finished `reduce` excluding primitive operations and coprocessors
  src/eval/reduction.rs
  src/lem/eval.rs
  src/lem/tag.rs
Owners: @porcuquine, @lurk-lab/lurk-lem

Skeleton of apply continuation
  src/lem/eval.rs
  src/lem/tag.rs
Owners: @lurk-lab/lurk-lem

Progress on apply_continuation
  src/lem/eval.rs
Owners: @lurk-lab/lurk-lem

LetRec case finished on apply_continuation
  src/eval/reduction.rs
  src/lem/eval.rs
Owners: @porcuquine, @lurk-lab/lurk-lem

Add rust-cache action for cargo-msrv
  .github/workflows/pr-test.yml
  .github/workflows/rust.yml
Owners: @lurk-lab/lurk-ci

Progress on apply_continuation
  src/lem/eval.rs
Owners: @lurk-lab/lurk-lem

Reverted accidental changes in `eval/reduction.rs`
  src/eval/reduction.rs
Owners: @porcuquine

`check` now checks if variables are not used
  src/lem/mod.rs
Owners: @lurk-lab/lurk-lem

`eval_step` bugfixes
  src/lem/eval.rs
Owners: @lurk-lab/lurk-lem

Unops case in `reduce` finished
  src/lem/eval.rs
  src/lem/tag.rs
Owners: @lurk-lab/lurk-lem

Added `not_eq` case
  src/lem/circuit.rs
  src/lem/interpreter.rs
  src/lem/macros.rs
  src/lem/mod.rs
  src/lem/path.rs
Owners: @lurk-lab/lurk-lem

More efficient `unop` in `reduce`
  src/lem/eval.rs
Owners: @lurk-lab/lurk-lem

Finished `reduce`
  src/lem/eval.rs
  src/lem/path.rs
Owners: @lurk-lab/lurk-lem

Finished `Binop` case in `apply_continuation`
  src/lem/eval.rs
Owners: @lurk-lab/lurk-lem

Skeleton for `Binop2` and `Unop` cases
  src/lem/eval.rs
Owners: @lurk-lab/lurk-lem

Better match_tag syntax
  src/lem/eval.rs
  src/lem/macros.rs
  src/lem/mod.rs
Owners: @lurk-lab/lurk-lem

Better match symbol syntax
  src/lem/eval.rs
  src/lem/macros.rs
  src/lem/mod.rs
Owners: @lurk-lab/lurk-lem
