Repository argumentcomputer/lurk-beta, changes with the owners that .github/CODEOWNERS names for each.
All owners: @lurk-lab/lurk-noncircuit, @lurk-lab/lurk-ci, @lurk-lab/lurk-circuit, @lurk-lab/lurk-lem, @porcuquine

.github/CODEOWNERS:

# Global Owners: @porcuquine, @huitseeker
* @lurk-lab/lurk-noncircuit

# CI maintenance
/.circleci/** @lurk-lab/lurk-ci
/.config/** @lurk-lab/lurk-ci
/.github/** @lurk-lab/lurk-ci

# Circuit
/src/circuit/** @lurk-lab/lurk-circuit

# LEM
/src/lem/** @lurk-lab/lurk-lem

# Order is important; the last matching pattern takes the most
# precedence. This excludes @everyone but @porcuquine for /src/eval.rs
/src/eval/** @porcuquine

Simplification of `slots_info`
  src/lem/circuit.rs
Owners: @lurk-lab/lurk-lem

recursive slots_info
  src/lem/circuit.rs
  src/lem/eval.rs
  src/lem/macros.rs
  src/lem/mod.rs
  src/lem/path.rs
Owners: @lurk-lab/lurk-lem

Seq now carries a vector of operations
  src/lem/circuit.rs
  src/lem/interpreter.rs
  src/lem/macros.rs
  src/lem/mod.rs
  src/lem/path.rs
Owners: @lurk-lab/lurk-lem

clippy
  src/lem/circuit.rs
Owners: @lurk-lab/lurk-lem

cargo fmt
  src/lem/circuit.rs
  src/lem/interpreter.rs
  src/lem/macros.rs
  src/lem/mod.rs
  src/lem/path.rs
  src/lem/store.rs
Owners: @lurk-lab/lurk-lem

clippy
  src/lem/circuit.rs
  src/lem/interpreter.rs
  src/lem/store.rs
Owners: @lurk-lab/lurk-lem

Move `gcc-10`/`g++-10` to Dockerfile
  .github/workflows/rust.yml
Owners: @lurk-lab/lurk-ci

Fixed macros and circuit
  src/lem/circuit.rs
  src/lem/macros.rs
Owners: @lurk-lab/lurk-lem

cargo fmt
  src/lem/macros.rs
Owners: @lurk-lab/lurk-lem

Removed constrainer.rs
  src/lem/constrainer.rs
  src/lem/pointers.rs
Owners: @lurk-lab/lurk-lem

ci: add action for signaling rebases on upstream (#448)
  .github/workflows/upstream_update.yml
Owners: @lurk-lab/lurk-ci

Optimize ci (#450)
  .github/dependabot.yml
  .github/workflows/rust.yml
  .github/workflows/upstream_update.yml
Owners: @lurk-lab/lurk-ci

ci: clean up unused job (#461)
  .github/workflows/add-project.yml
  .github/workflows/rust.yml
Owners: @lurk-lab/lurk-ci

`let` and `letrec` fix (#446)
  src/circuit/circuit_frame.rs
  src/eval/reduction.rs
  src/proof/nova.rs
Owners: @lurk-lab/lurk-circuit, @porcuquine, @lurk-lab/lurk-noncircuit

Clean unused actions + Updates (#457)
  .github/workflows/epics-actions.yml
  .github/workflows/links-check.yml
  .github/workflows/upstream_update.yml
Owners: @lurk-lab/lurk-ci

Replace Visit with Preimages
  src/lem/circuit.rs
  src/lem/interpreter.rs
  src/lem/pointers.rs
Owners: @lurk-lab/lurk-lem

transitioning to the purely index based solution for the slots
  src/lem/circuit.rs
  src/lem/eval.rs
  src/lem/interpreter.rs
  src/lem/mod.rs
Owners: @lurk-lab/lurk-lem

refactor parser to use ParseResult
  src/parser.rs
  src/parser/base.rs
  src/parser/string.rs
  src/parser/syntax.rs
Owners: @lurk-lab/lurk-noncircuit

change Keyword representation to keycons
  src/circuit/gadgets/pointer.rs
  src/expr.rs
  src/store.rs
  src/syntax.rs
  src/writer.rs
  src/z_data/serde/mod.rs
  src/z_data/z_expr.rs
Owners: @lurk-lab/lurk-circuit, @lurk-lab/lurk-noncircuit

improve ZExpr::from_ptr
  src/store.rs
  src/z_data/z_expr.rs
Owners: @lurk-lab/lurk-noncircuit

remove outdated comment
  src/z_data/z_cont.rs
Owners: @lurk-lab/lurk-noncircuit

improve parser::error
  src/parser/error.rs
Owners: @lurk-lab/lurk-noncircuit

clippy
  src/store.rs
Owners: @lurk-lab/lurk-noncircuit

cleanup fraction example
  src/parser/syntax.rs
Owners: @lurk-lab/lurk-noncircuit

ptr comments
  src/ptr.rs
Owners: @lurk-lab/lurk-noncircuit

rewrite fetch_string
  src/store.rs
Owners: @lurk-lab/lurk-noncircuit

clippy
  src/store.rs
Owners: @lurk-lab/lurk-noncircuit

ZData docstrings & serde fixup
  src/public_parameters/mod.rs
  src/z_data.rs
  src/z_data/serde/de.rs
  src/z_data/serde/mod.rs
  src/z_data/serde/ser.rs
  src/z_data/z_cont.rs
  src/z_data/z_expr.rs
  src/z_data/z_ptr.rs
  src/z_data/z_store.rs
Owners: @lurk-lab/lurk-noncircuit

fix a symbol.rs docstring; avoid unnecessary clone on Symbol::path; recover Symbol::parent and Symbol::child APIs
  src/symbol.rs
  src/syntax.rs
  src/z_data/serde/mod.rs
Owners: @lurk-lab/lurk-noncircuit

symbol.rs tests cleanup
  src/symbol.rs
Owners: @lurk-lab/lurk-noncircuit

implement some of the pending suggestions from #427
  src/lem/circuit.rs
  src/lem/interpreter.rs
  src/lem/mod.rs
  src/lem/path.rs
Owners: @lurk-lab/lurk-lem

finish allocation for dummies; improve comments for 'allocate_slots'
  src/lem/circuit.rs
Owners: @lurk-lab/lurk-lem

Update ZData tests
  src/store.rs
  src/syntax.rs
  src/z_data/serde/mod.rs
  src/z_data/serde/ser.rs
  src/z_data/z_cont.rs
  src/z_data/z_expr.rs
  src/z_data/z_ptr.rs
  src/z_data/z_store.rs
Owners: @lurk-lab/lurk-noncircuit

Cleanup & rename scalar_ptr to z_ptr
  src/circuit/circuit_frame.rs
  src/circuit/gadgets/data.rs
  src/circuit/gadgets/pointer.rs
  src/eval/lang.rs
  src/eval/mod.rs
  src/eval/reduction.rs
  src/eval/tests/mod.rs
  src/proof/nova.rs
  src/public_parameters/mod.rs
  src/store.rs
  src/z_data/z_expr.rs
Owners: @lurk-lab/lurk-circuit, @porcuquine, @lurk-lab/lurk-noncircuit

Add enforce_lc_implication_zero.
  src/circuit/gadgets/constraints.rs
Owners: @lurk-lab/lurk-circuit

Recursive synthesize with slot allocation done
  src/lem/circuit.rs
  src/lem/eval.rs
  src/lem/mod.rs
Owners: @lurk-lab/lurk-lem

Code refactoring
  src/lem/circuit.rs
Owners: @lurk-lab/lurk-lem

Small change to `allocate_ptr`
  src/lem/circuit.rs
Owners: @lurk-lab/lurk-lem

update some docstrings; readability improvements for circuit.rs; avoid some unnecessary clones in AllocatedPtr::from_parts
  src/circuit/circuit_frame.rs
  src/circuit/gadgets/data.rs
  src/circuit/gadgets/pointer.rs
  src/lem/circuit.rs
  src/lem/interpreter.rs
  src/lem/mod.rs
Owners: @lurk-lab/lurk-circuit, @lurk-lab/lurk-lem

some optimizations; document the slot allocation algorithm with an example
  src/lem/circuit.rs
  src/lem/eval.rs
  src/lem/interpreter.rs
  src/lem/mod.rs
Owners: @lurk-lab/lurk-lem
