Repository argumentcomputer/lurk-beta, changes with the owners that .github/CODEOWNERS names for each.
All owners: @lurk-lab/lurk-noncircuit, @lurk-lab/lurk-ci, @lurk-lab/lurk-circuit, @lurk-lab/lurk-lem, @porcuquine

.github/CODEOWNERS:

# Global Owners: @porcuquine, @huitseeker
* @lurk-lab/lurk-noncircuit

# CI maintenance
/.circleci/** @lurk-lab/lurk-ci
/.config/** @lurk-lab/lurk-ci
/.github/** @lurk-lab/lurk-ci

# Circuit
/src/circuit/** @lurk-lab/lurk-circuit

# LEM
/src/lem/** @lurk-lab/lurk-lem

# Order is important; the last matching pattern takes the most
# precedence. This excludes @everyone but @porcuquine for /src/eval.rs
/src/eval/** @porcuquine

WIP lem/circuit.rs
  src/lem/circuit.rs
  src/lem/mod.rs
Owners: @lurk-lab/lurk-lem

Renaming
  src/lem/circuit.rs
  src/lem/eval.rs
  src/lem/interpreter.rs
  src/lem/macros.rs
  src/lem/mod.rs
  src/lem/path.rs
Owners: @lurk-lab/lurk-lem

Renamed the macros
  src/lem/eval.rs
  src/lem/macros.rs
  src/lem/mod.rs
Owners: @lurk-lab/lurk-lem

extract eval_expr_and_set_last_claim
  src/cli/loader.rs
Owners: @lurk-lab/lurk-noncircuit

Generalized `Func`
  src/lem/eval.rs
  src/lem/macros.rs
  src/lem/mod.rs
Owners: @lurk-lab/lurk-lem

simplify printing
  src/cli/loader.rs
Owners: @lurk-lab/lurk-noncircuit

Use arch variable for sccache install
  .circleci/config.yml
Owners: @lurk-lab/lurk-ci

generalized return values
  src/lem/macros.rs
  src/lem/mod.rs
Owners: @lurk-lab/lurk-lem

rustfmt and clippy
  src/lem/circuit.rs
  src/lem/interpreter.rs
  src/lem/macros.rs
  src/lem/path.rs
Owners: @lurk-lab/lurk-lem

Attempt to fix URL
  .circleci/config.yml
Owners: @lurk-lab/lurk-ci

more plumbing
  src/cli/loader.rs
Owners: @lurk-lab/lurk-noncircuit

add CLI commands and arguments descriptions
  src/cli/loader.rs
  src/cli/mod.rs
Owners: @lurk-lab/lurk-noncircuit

fix wasm configs
  src/cli/loader.rs
  src/cli/mod.rs
  src/cli/paths.rs
Owners: @lurk-lab/lurk-noncircuit

chore: Update nova, adapt to upstream changes
  Cargo.lock
  Cargo.toml
  src/proof/nova.rs
Owners: @lurk-lab/lurk-noncircuit

loader -> repl
  src/cli/mod.rs
  src/cli/repl.rs
Owners: @lurk-lab/lurk-noncircuit

set-limit
  src/cli/repl.rs
Owners: @lurk-lab/lurk-noncircuit

chore: Refactor pairing_lib to pairing and update Cargo.lock
  Cargo.lock
  Cargo.toml
  fcomm/Cargo.toml
  src/circuit/circuit_frame.rs
  src/proof/groth16.rs
Owners: @lurk-lab/lurk-noncircuit, @lurk-lab/lurk-circuit

fix: fix doc warning
  Cargo.toml
  src/field.rs
Owners: @lurk-lab/lurk-noncircuit

Normalize Linux sccache install for musl arch
  .circleci/config.yml
Owners: @lurk-lab/lurk-ci

Fix error
  .circleci/config.yml
Owners: @lurk-lab/lurk-ci

don't memoize incomplete last claims
  src/cli/repl.rs
Owners: @lurk-lab/lurk-noncircuit

chore: Update nova, adapt to upstream changes (#499)
  Cargo.lock
  Cargo.toml
  src/proof/nova.rs
Owners: @lurk-lab/lurk-noncircuit

Ignore linux_release tests covered by linux job
  .circleci/config.yml
Owners: @lurk-lab/lurk-ci

apply suggestions
  src/cli/mod.rs
  src/cli/paths.rs
  src/cli/repl.rs
  src/main.rs
Owners: @lurk-lab/lurk-noncircuit

[easy] Update dependencies, fix docs (#501)
  Cargo.lock
  Cargo.toml
  fcomm/Cargo.toml
  src/circuit/circuit_frame.rs
  src/field.rs
  src/proof/groth16.rs
Owners: @lurk-lab/lurk-noncircuit, @lurk-lab/lurk-circuit

Ignore linux_release tests covered by linux job (#503)
  .circleci/config.yml
Owners: @lurk-lab/lurk-ci

comment out unsupported CLI features for now
  src/cli/mod.rs
  src/cli/prove_and_verify.rs
Owners: @lurk-lab/lurk-noncircuit

ci: Upgrade Mac and ARM resource classes (#493)
  .circleci/config.yml
Owners: @lurk-lab/lurk-ci

refactor: avoid runtime mutability checks in the store (#491)
  src/store.rs
Owners: @lurk-lab/lurk-noncircuit

added test cases that fail on master
  src/parser/syntax.rs
  src/symbol.rs
Owners: @lurk-lab/lurk-noncircuit

add info log when variables are overwritten on VarMap
  src/lem/var_map.rs
Owners: @lurk-lab/lurk-lem

remove check if directory exists now that it uses create_dir_all
  src/cli/paths.rs
Owners: @lurk-lab/lurk-noncircuit

use sym! macro to easily create symbols
  src/coprocessor/trie/mod.rs
  src/eval/lang.rs
  src/eval/tests/mod.rs
  src/symbol.rs
  src/syntax_macros.rs
Owners: @lurk-lab/lurk-noncircuit, @porcuquine

fix sha256 example
  examples/sha256.rs
Owners: @lurk-lab/lurk-noncircuit

implement a specialized 'parse_symbol_limb_raw' function to handle raw symbols
  src/parser/syntax.rs
Owners: @lurk-lab/lurk-noncircuit

solve #497 altogether
  src/parser/syntax.rs
Owners: @lurk-lab/lurk-noncircuit

fmt
  src/parser/syntax.rs
Owners: @lurk-lab/lurk-noncircuit

add test cases for #104
  src/parser/syntax.rs
Owners: @lurk-lab/lurk-noncircuit

add a test for stable hash of nil
  src/eval/tests/mod.rs
Owners: @porcuquine

add test cases for #104 (#509)
  src/parser/syntax.rs
Owners: @lurk-lab/lurk-noncircuit
