Repository argumentcomputer/lurk-beta, changes with the owners that .github/CODEOWNERS names for each.
All owners: @lurk-lab/lurk-noncircuit, @lurk-lab/lurk-ci, @lurk-lab/lurk-circuit, @lurk-lab/lurk-lem, @porcuquine

improved remarks on private data
  src/cli/commitment.rs
  src/cli/lurk_proof.rs
Owners: @lurk-lab/lurk-noncircuit

better generalizations in lurk_proof
  src/cli/lurk_proof.rs
Owners: @lurk-lab/lurk-noncircuit

safer extraction of FieldData
  src/cli/field_data.rs
  src/cli/lurk_proof.rs
  src/cli/mod.rs
  src/cli/repl.rs
Owners: @lurk-lab/lurk-noncircuit

cleaner user feedback on fetch
  src/cli/repl.rs
Owners: @lurk-lab/lurk-noncircuit

remove unnecessary allow(dead_code) flag
  src/cli/commitment.rs
Owners: @lurk-lab/lurk-noncircuit

clean up paths.rs
  src/cli/commitment.rs
  src/cli/lurk_proof.rs
  src/cli/mod.rs
  src/cli/paths.rs
  src/cli/repl.rs
Owners: @lurk-lab/lurk-noncircuit

chore: refactor some clones away (#544)
  clutch/src/lib.rs
  fcomm/src/bin/fcomm.rs
  fcomm/src/lib.rs
  fcomm/tests/makefile_tests.rs
  src/lem/circuit.rs
  src/lem/mod.rs
  src/num.rs
  src/proof/groth16.rs
  src/proof/nova.rs
Owners: @lurk-lab/lurk-noncircuit, @lurk-lab/lurk-lem

`MatchSymbol` and thunks
  src/lem/circuit.rs
  src/lem/eval.rs
  src/lem/tag.rs
Owners: @lurk-lab/lurk-lem

Finished `make_thunk`
  src/lem/eval.rs
  src/lem/tag.rs
Owners: @lurk-lab/lurk-lem

`deconflict` fix
  src/lem/mod.rs
Owners: @lurk-lab/lurk-lem

review suggestions + revamp
  Cargo.lock
  Cargo.toml
  src/cli/commitment.rs
  src/cli/field_data.rs
  src/cli/lurk_proof.rs
  src/cli/mod.rs
  src/cli/paths.rs
  src/cli/repl.rs
  src/z_data/z_ptr.rs
Owners: @lurk-lab/lurk-noncircuit

Better `match_symbol` macros
  src/lem/circuit.rs
  src/lem/eval.rs
  src/lem/macros.rs
Owners: @lurk-lab/lurk-lem

encoding proof claim as Lurk data
  src/cli/field_data.rs
  src/cli/repl.rs
Owners: @lurk-lab/lurk-noncircuit

clean up
  src/cli/repl.rs
Owners: @lurk-lab/lurk-noncircuit

document field_data
  src/cli/commitment.rs
  src/cli/field_data.rs
  src/cli/lurk_proof.rs
  src/cli/repl.rs
Owners: @lurk-lab/lurk-noncircuit

add tests for field_data
  src/cli/field_data.rs
Owners: @lurk-lab/lurk-noncircuit

change constructor names on Enum2 for a better POC test
  src/cli/field_data.rs
Owners: @lurk-lab/lurk-noncircuit

Progress on `eval`
  src/lem/eval.rs
Owners: @lurk-lab/lurk-lem

Better default case macro on matches
  src/lem/eval.rs
  src/lem/macros.rs
  src/lem/mod.rs
Owners: @lurk-lab/lurk-lem

WIP adding IfEqual
  src/lem/circuit.rs
  src/lem/interpreter.rs
  src/lem/macros.rs
  src/lem/mod.rs
  src/lem/path.rs
Owners: @lurk-lab/lurk-lem

fix docstring for LurkProofMeta
  src/cli/lurk_proof.rs
Owners: @lurk-lab/lurk-noncircuit

Implement persistent commitments (#543)
  Cargo.lock
  Cargo.toml
  fcomm/src/lib.rs
  src/cli/commitment.rs
  src/cli/field_data.rs
  src/cli/lurk_proof.rs
  src/cli/mod.rs
  src/cli/paths.rs
  src/cli/repl.rs
  src/store.rs
  src/z_data/z_ptr.rs
Owners: @lurk-lab/lurk-noncircuit

Adjust sha256 example (#490)
  examples/sha256.rs
  src/circuit/circuit_frame.rs
  src/circuit/gadgets/constraints.rs
  src/circuit/gadgets/data.rs
  src/circuit/gadgets/mod.rs
  src/circuit/gadgets/pointer.rs
  src/eval/reduction.rs
Owners: @lurk-lab/lurk-noncircuit, @lurk-lab/lurk-circuit, @porcuquine

Circuit and eval progress
  src/lem/circuit.rs
  src/lem/eval.rs
  src/lem/tag.rs
Owners: @lurk-lab/lurk-lem

chore: Integrate cargo updates in dependabot configuration
  .github/dependabot.yml
Owners: @lurk-lab/lurk-ci

wip
  src/cli/repl.rs
Owners: @lurk-lab/lurk-noncircuit

chore: Update dependency versions across multiple modules
  Cargo.lock
  Cargo.toml
  clutch/Cargo.toml
  fcomm/Cargo.toml
  lurk-macros/Cargo.toml
Owners: @lurk-lab/lurk-noncircuit

hopefully fix an off-by-1 bug
  src/cli/repl.rs
  src/eval/mod.rs
Owners: @lurk-lab/lurk-noncircuit, @porcuquine

solve off-by-1 errors
  src/cli/repl.rs
  src/eval/mod.rs
Owners: @lurk-lab/lurk-noncircuit, @porcuquine

recover panic
  src/cli/repl.rs
Owners: @lurk-lab/lurk-noncircuit

Run PR tests on self-hosted Linux GH Actions runners
  .github/workflows/pr-test.yml
Owners: @lurk-lab/lurk-ci

still diving; proving wrong claim
  src/cli/repl.rs
  src/eval/mod.rs
Owners: @lurk-lab/lurk-noncircuit, @porcuquine

simple eval is solved
  src/cli/repl.rs
  src/eval/mod.rs
Owners: @lurk-lab/lurk-noncircuit, @porcuquine

small REPL improvements
  src/cli/repl.rs
Owners: @lurk-lab/lurk-noncircuit

Bug fixes and eval progress
  src/lem/circuit.rs
  src/lem/eval.rs
  src/lem/mod.rs
Owners: @lurk-lab/lurk-lem

claim hash is no longer the proof id
  src/cli/lurk_proof.rs
  src/cli/repl.rs
Owners: @lurk-lab/lurk-noncircuit

review suggestion
  src/cli/repl.rs
Owners: @lurk-lab/lurk-noncircuit

Run PR tests on self-hosted Linux GH Actions runners (#550)
  .github/workflows/pr-test.yml
Owners: @lurk-lab/lurk-ci

Small fix in `num_constraints`
  src/lem/circuit.rs
Owners: @lurk-lab/lurk-lem

eliminate unused function
  src/cli/lurk_proof.rs
Owners: @lurk-lab/lurk-noncircuit

.github/CODEOWNERS:

# Global Owners: @porcuquine, @huitseeker
* @lurk-lab/lurk-noncircuit

# CI maintenance
/.circleci/** @lurk-lab/lurk-ci
/.config/** @lurk-lab/lurk-ci
/.github/** @lurk-lab/lurk-ci

# Circuit
/src/circuit/** @lurk-lab/lurk-circuit

# LEM
/src/lem/** @lurk-lab/lurk-lem

# Order is important; the last matching pattern takes the most
# precedence. This excludes @everyone but @porcuquine for /src/eval.rs
/src/eval/** @porcuquine
