Repository argumentcomputer/lurk-beta, changes with the owners that .github/CODEOWNERS names for each.
All owners: @lurk-lab/lurk-noncircuit, @lurk-lab/lurk-ci, @lurk-lab/lurk-circuit, @lurk-lab/lurk-lem, @porcuquine

.github/CODEOWNERS:

# Global Owners: @porcuquine, @huitseeker
* @lurk-lab/lurk-noncircuit

# CI maintenance
/.circleci/** @lurk-lab/lurk-ci
/.config/** @lurk-lab/lurk-ci
/.github/** @lurk-lab/lurk-ci

# Circuit
/src/circuit/** @lurk-lab/lurk-circuit

# LEM
/src/lem/** @lurk-lab/lurk-lem

# Order is important; the last matching pattern takes the most
# precedence. This excludes @everyone but @porcuquine for /src/eval.rs
/src/eval/** @porcuquine

Include tag into UnHash operations
  src/lem/constrainer.rs
  src/lem/interpreter.rs
  src/lem/mod.rs
Owners: @lurk-lab/lurk-lem

fix macros
  src/lem/interpreter.rs
  src/lem/macros.rs
  src/lem/mod.rs
Owners: @lurk-lab/lurk-lem

docstring for 'acc_hash_slots_data'
  src/lem/constrainer.rs
Owners: @lurk-lab/lurk-lem

Fixed circuit eval
  src/circuit/circuit_frame.rs
  src/proof/nova.rs
Owners: @lurk-lab/lurk-circuit, @lurk-lab/lurk-noncircuit

Issue 424 and 426 tests
  src/proof/nova.rs
Owners: @lurk-lab/lurk-noncircuit

Issue 426 solved
  src/proof/nova.rs
Owners: @lurk-lab/lurk-noncircuit

Issue 424 modified works
  src/proof/nova.rs
Owners: @lurk-lab/lurk-noncircuit

FG's suggestion
  src/lem/constrainer.rs
Owners: @lurk-lab/lurk-lem

more suggestions
  src/lem/constrainer.rs
Owners: @lurk-lab/lurk-lem

fmt
  src/lem/constrainer.rs
Owners: @lurk-lab/lurk-lem

Minimal example
  src/proof/nova.rs
Owners: @lurk-lab/lurk-noncircuit

use ConstraintData struct
  src/lem/constrainer.rs
Owners: @lurk-lab/lurk-lem

eliminate the need for 'PathKind'
  src/circuit/gadgets/constraints.rs
  src/lem/constrainer.rs
Owners: @lurk-lab/lurk-circuit, @lurk-lab/lurk-lem

Replace HashMap by Vec
  src/lem/constrainer.rs
Owners: @lurk-lab/lurk-lem

clippy and update docstrings
  src/lem/constrainer.rs
Owners: @lurk-lab/lurk-lem

fmt
  src/proof/nova.rs
Owners: @lurk-lab/lurk-noncircuit

Address review
  .github/workflows/pr_bench.yml
Owners: @lurk-lab/lurk-ci

fix Hash/Unhash assymetry
  src/lem/constrainer.rs
  src/lem/interpreter.rs
  src/lem/macros.rs
  src/lem/mod.rs
Owners: @lurk-lab/lurk-lem

Add basic PR bench workflow (#425)
  .github/workflows/pr_bench.yml
Owners: @lurk-lab/lurk-ci

deconflict and macros for MatchSymPath
  src/lem/macros.rs
  src/lem/mod.rs
Owners: @lurk-lab/lurk-lem

Constrain hash and implications together
  src/lem/constrainer.rs
Owners: @lurk-lab/lurk-lem

clippy+fmt
  src/lem/constrainer.rs
  src/lem/macros.rs
  src/lem/mod.rs
Owners: @lurk-lab/lurk-lem

chore: Make clippy run everywhere
  .cargo/config
Owners: @lurk-lab/lurk-noncircuit

ci: Run Github Actions instead of CircleCI for pushes to master
  .circleci/config.yml
  .github/workflows/rust.yml
Owners: @lurk-lab/lurk-ci

ci: Address review & fixes
  .cargo/config
  .github/workflows/rust.yml
Owners: @lurk-lab/lurk-noncircuit, @lurk-lab/lurk-ci

review suggestions
  src/lem/constrainer.rs
Owners: @lurk-lab/lurk-lem

eliminate some double clones
  src/lem/constrainer.rs
Owners: @lurk-lab/lurk-lem

Refactor
  src/lem/constrainer.rs
Owners: @lurk-lab/lurk-lem

fix
  src/lem/constrainer.rs
Owners: @lurk-lab/lurk-lem

Remove usize index
  src/lem/constrainer.rs
Owners: @lurk-lab/lurk-lem

Delete old workaround
  src/lem/constrainer.rs
Owners: @lurk-lab/lurk-lem

normal comments
  .gitignore
  benches/end2end.rs
  benches/public_params.rs
Owners: @lurk-lab/lurk-noncircuit

remove SlotsIndices from the stack
  src/lem/constrainer.rs
Owners: @lurk-lab/lurk-lem

Chore: Add Comments Explaining `criterion/flamegraph` Usage in Benchmarks (#416)
  .gitignore
  benches/end2end.rs
  benches/public_params.rs
Owners: @lurk-lab/lurk-noncircuit

ci: Run Github Actions instead of CircleCI for pushes to master (#433)
  .cargo/config
  .circleci/config.yml
  .github/workflows/rust.yml
Owners: @lurk-lab/lurk-noncircuit, @lurk-lab/lurk-ci

clean up 'acc_hash_slots_data'
  src/lem/constrainer.rs
Owners: @lurk-lab/lurk-lem

chore: Upgrade rust toolchain to 1.70
  .circleci/config.yml
  fcomm/tests/makefile_tests.rs
  flake.nix
  lurk-macros/tests/lurk_macro_test.rs
  rust-toolchain
  rust-toolchain.toml
  src/circuit/circuit_frame.rs
  src/store.rs
Owners: @lurk-lab/lurk-ci, @lurk-lab/lurk-noncircuit, @lurk-lab/lurk-circuit

WIP elimination of multiple fors
  src/lem/constrainer.rs
  src/lem/mod.rs
Owners: @lurk-lab/lurk-lem

Compute max hashes statically
  src/lem/constrainer.rs
  src/lem/eval.rs
  src/lem/mod.rs
Owners: @lurk-lab/lurk-lem

Include MatchSymPath in max slots
  src/lem/mod.rs
Owners: @lurk-lab/lurk-lem
