Repository argumentcomputer/lurk-beta, changes with the owners that .github/CODEOWNERS names for each.
All owners: @lurk-lab/lurk-noncircuit, @lurk-lab/lurk-ci, @lurk-lab/lurk-circuit, @lurk-lab/lurk-lem, @porcuquine

docstring fix
  src/lem/circuit.rs
Owners: @lurk-lab/lurk-lem

another docstring fix
  src/lem/circuit.rs
Owners: @lurk-lab/lurk-lem

fmt
  src/lem/circuit.rs
Owners: @lurk-lab/lurk-lem

adjust lem/circuit.rs docstring
  src/lem/circuit.rs
Owners: @lurk-lab/lurk-lem

Recursive version of path_taken
  src/lem/circuit.rs
  src/lem/macros.rs
  src/lem/mod.rs
  src/lem/path.rs
Owners: @lurk-lab/lurk-lem

Add enforce_lc_implication_zero. (#467)
  src/circuit/gadgets/constraints.rs
Owners: @lurk-lab/lurk-circuit

cargo fmt
  src/lem/path.rs
Owners: @lurk-lab/lurk-lem

renames the lurkrs binary to just lurk
  Cargo.toml
  README.md
  bin/lurk
  clutch/README.md
  clutch/tests/clutch-smoke-test.rs
  notes/reduction-notes.md
  tests/lurkrs-smoke-test.rs
Owners: @lurk-lab/lurk-noncircuit

rename Preimages fields to avoid name clashes
  src/lem/circuit.rs
  src/lem/interpreter.rs
Owners: @lurk-lab/lurk-lem

ci: Fix GPU build error in pasta-msm (#458)
  .github/workflows/rust.yml
Owners: @lurk-lab/lurk-ci

include minimized test case error
  src/parser/syntax.rs
  src/syntax_macros.rs
Owners: @lurk-lab/lurk-noncircuit

fmt
  src/parser/syntax.rs
Owners: @lurk-lab/lurk-noncircuit

chore: setup dependencies on dev forks
  Cargo.lock
  Cargo.toml
  clutch/Cargo.toml
  fcomm/Cargo.toml
  lurk-macros/Cargo.toml
Owners: @lurk-lab/lurk-noncircuit

docstring fixes
  src/lem/circuit.rs
Owners: @lurk-lab/lurk-lem

pass a mutable reference of GlobalAllocator to synthesize
  src/lem/circuit.rs
  src/lem/eval.rs
  src/lem/mod.rs
Owners: @lurk-lab/lurk-lem

remove ambiguous part from the docstring
  src/lem/circuit.rs
Owners: @lurk-lab/lurk-lem

move the explanation of concrete/virtual paths to the beginning of the file
  src/lem/circuit.rs
Owners: @lurk-lab/lurk-lem

Prepare helper for future usage (more than 1 frame)
  src/lem/mod.rs
Owners: @lurk-lab/lurk-lem

Move Globals back to synthesize
  src/lem/circuit.rs
  src/lem/eval.rs
  src/lem/mod.rs
Owners: @lurk-lab/lurk-lem

Removed warnings
  src/lem/eval.rs
  src/lem/mod.rs
Owners: @lurk-lab/lurk-lem

drop the need for Path on the circuit code
  src/lem/circuit.rs
Owners: @lurk-lab/lurk-lem

address some review suggestions
  src/eval/lang.rs
  src/eval/tests/mod.rs
  src/store.rs
Owners: @porcuquine, @lurk-lab/lurk-noncircuit

implement cache hits when interning strings
  src/store.rs
Owners: @lurk-lab/lurk-noncircuit

fix string/symbol interning
  src/lem/store.rs
Owners: @lurk-lab/lurk-lem

further optimize 'intern_string'
  src/store.rs
  src/z_data/serde/de.rs
Owners: @lurk-lab/lurk-noncircuit

Match tag `a | b ... =>` syntax
  src/lem/eval.rs
  src/lem/macros.rs
  src/lem/tag.rs
Owners: @lurk-lab/lurk-lem

undo change on public parameters
  src/public_parameters/registry.rs
Owners: @lurk-lab/lurk-noncircuit

add some documentation; fix failing proptests (thanks to Sam)
  src/store.rs
  src/symbol.rs
Owners: @lurk-lab/lurk-noncircuit

simplify symbol_cache
  src/store.rs
Owners: @lurk-lab/lurk-noncircuit

fix string slice for unicode
  src/lem/store.rs
Owners: @lurk-lab/lurk-lem

make GlobalAllocator allocate constained constants
  src/lem/circuit.rs
Owners: @lurk-lab/lurk-lem

fix constraint count
  src/lem/circuit.rs
  src/lem/eval.rs
Owners: @lurk-lab/lurk-lem

documentation added
  src/lem/circuit.rs
Owners: @lurk-lab/lurk-lem

fmt; to_mptr -> to_zptr
  src/lem/circuit.rs
Owners: @lurk-lab/lurk-lem

fix end2end benchmark
  benches/end2end.rs
Owners: @lurk-lab/lurk-noncircuit

chore: adapt to upstream Nova changes
  Cargo.lock
  src/proof/nova.rs
Owners: @lurk-lab/lurk-noncircuit

recover recursive expr hashing and add hashing caches
  benches/end2end.rs
  src/store.rs
Owners: @lurk-lab/lurk-noncircuit

move None case to the bottom in 'get_z_expr'
  src/store.rs
Owners: @lurk-lab/lurk-noncircuit

Renamed MetaPtr to Var
  src/lem/circuit.rs
  src/lem/interpreter.rs
  src/lem/macros.rs
  src/lem/mod.rs
  src/lem/path.rs
Owners: @lurk-lab/lurk-lem

Renamed allocated_ptrs to bound_allocations
  src/lem/circuit.rs
Owners: @lurk-lab/lurk-lem

.github/CODEOWNERS:

# Global Owners: @porcuquine, @huitseeker
* @lurk-lab/lurk-noncircuit

# CI maintenance
/.circleci/** @lurk-lab/lurk-ci
/.config/** @lurk-lab/lurk-ci
/.github/** @lurk-lab/lurk-ci

# Circuit
/src/circuit/** @lurk-lab/lurk-circuit

# LEM
/src/lem/** @lurk-lab/lurk-lem

# Order is important; the last matching pattern takes the most
# precedence. This excludes @everyone but @porcuquine for /src/eval.rs
/src/eval/** @porcuquine
