Repository argumentcomputer/lurk-beta, changes with the owners that .github/CODEOWNERS names for each.
All owners: @lurk-lab/lurk-noncircuit, @lurk-lab/lurk-ci, @lurk-lab/lurk-circuit, @lurk-lab/lurk-lem, @porcuquine

.github/CODEOWNERS:

# Global Owners: @porcuquine, @huitseeker
* @lurk-lab/lurk-noncircuit

# CI maintenance
/.circleci/** @lurk-lab/lurk-ci
/.config/** @lurk-lab/lurk-ci
/.github/** @lurk-lab/lurk-ci

# Circuit
/src/circuit/** @lurk-lab/lurk-circuit

# LEM
/src/lem/** @lurk-lab/lurk-lem

# Order is important; the last matching pattern takes the most
# precedence. This excludes @everyone but @porcuquine for /src/eval.rs
/src/eval/** @porcuquine

`let` and `letrec` fix (#446)
  flake.nix
  src/circuit/circuit_frame.rs
  src/eval/reduction.rs
  src/proof/nova.rs
Owners: @lurk-lab/lurk-noncircuit, @lurk-lab/lurk-circuit, @porcuquine

don't restrict idx increments inside the while
  src/lem/constrainer.rs
Owners: @lurk-lab/lurk-lem

Optimize ci (#450)
  .github/dependabot.yml
  .github/workflows/rust.yml
  .github/workflows/upstream_update.yml
Owners: @lurk-lab/lurk-ci

WIP: get slot
  src/lem/constrainer.rs
Owners: @lurk-lab/lurk-lem

ci: remove unused epics-action
  .github/workflows/epics-actions.yml
Owners: @lurk-lab/lurk-ci

Clean unused actions + Updates (#457)
  .github/workflows/epics-actions.yml
  .github/workflows/links-check.yml
  .github/workflows/upstream_update.yml
Owners: @lurk-lab/lurk-ci

populating hashmap
  src/lem/constrainer.rs
Owners: @lurk-lab/lurk-lem

Fix pasta-msm build error
  .github/workflows/rust.yml
Owners: @lurk-lab/lurk-ci

Finish namespaces deconflict
  src/lem/constrainer.rs
  src/lem/mod.rs
Owners: @lurk-lab/lurk-lem

Include minimal passing test for hash slots
  src/lem/mod.rs
Owners: @lurk-lab/lurk-lem

cleanup
  src/lem/constrainer.rs
  src/lem/mod.rs
Owners: @lurk-lab/lurk-lem

more cleanup
  src/lem/constrainer.rs
Owners: @lurk-lab/lurk-lem

New failing unit test
  src/lem/interpreter.rs
  src/lem/mod.rs
Owners: @lurk-lab/lurk-lem

use path trackers
  src/lem/constrainer.rs
Owners: @lurk-lab/lurk-lem

New unit test
  src/lem/constrainer.rs
  src/lem/mod.rs
Owners: @lurk-lab/lurk-lem

fix path ticking continuations; simplify preimages collection
  src/lem/constrainer.rs
  src/lem/interpreter.rs
  src/lem/mod.rs
Owners: @lurk-lab/lurk-lem

First do Hash2, then Hash3, then Hash4
  src/lem/constrainer.rs
  src/lem/mod.rs
Owners: @lurk-lab/lurk-lem

simplify some parts of 'deconflict'
  src/lem/path.rs
Owners: @lurk-lab/lurk-lem

optimize preallocation with a better data type to collect preimages
  src/lem/constrainer.rs
  src/lem/interpreter.rs
Owners: @lurk-lab/lurk-lem

preallocate dummies for hash2
  src/lem/constrainer.rs
Owners: @lurk-lab/lurk-lem

Finish pre-allocation of dummies
  src/lem/constrainer.rs
Owners: @lurk-lab/lurk-lem

Include unit test when not in max concrete path
  src/lem/mod.rs
Owners: @lurk-lab/lurk-lem

New failing test for unhash
  src/lem/mod.rs
Owners: @lurk-lab/lurk-lem

Implement Unhash
  src/lem/constrainer.rs
Owners: @lurk-lab/lurk-lem

WIP deduplication
  src/lem/constrainer.rs
  src/lem/eval.rs
  src/lem/mod.rs
Owners: @lurk-lab/lurk-lem

first round of cleanup
  src/lem/constrainer.rs
  src/lem/mod.rs
Owners: @lurk-lab/lurk-lem

update tests
  src/lem/mod.rs
Owners: @lurk-lab/lurk-lem

Refactor unit tests: all tests passing
  src/lem/eval.rs
  src/lem/mod.rs
  src/lem/tag.rs
Owners: @lurk-lab/lurk-lem

Fix unit test termination
  src/lem/constrainer.rs
  src/lem/mod.rs
Owners: @lurk-lab/lurk-lem

Fmt
  src/lem/constrainer.rs
Owners: @lurk-lab/lurk-lem

Undo small refactoring
  src/lem/constrainer.rs
Owners: @lurk-lab/lurk-lem

refactor for deduplication compatibility
  src/lem/constrainer.rs
  src/lem/eval.rs
  src/lem/interpreter.rs
  src/lem/mod.rs
Owners: @lurk-lab/lurk-lem

New lem
  src/lem/constrainer.rs
  src/lem/eval.rs
  src/lem/interpreter.rs
  src/lem/macros.rs
  src/lem/mod.rs
  src/lem/path.rs
  src/lem/pointers.rs
Owners: @lurk-lab/lurk-lem

Updates to new LEM
  src/lem/mod.rs
Owners: @lurk-lab/lurk-lem

refactor num slots counting
  src/lem/constrainer.rs
  src/lem/eval.rs
  src/lem/interpreter.rs
  src/lem/mod.rs
Owners: @lurk-lab/lurk-lem

Implement slots_indices
  src/lem/constrainer.rs
  src/lem/path.rs
Owners: @lurk-lab/lurk-lem

fix test and interpreter
  src/lem/constrainer.rs
  src/lem/interpreter.rs
  src/lem/mod.rs
Owners: @lurk-lab/lurk-lem

fix namespace conflict
  src/lem/constrainer.rs
  src/lem/mod.rs
Owners: @lurk-lab/lurk-lem

further optimize deduplication
  src/lem/constrainer.rs
  src/lem/mod.rs
Owners: @lurk-lab/lurk-lem

fmt
  src/lem/constrainer.rs
Owners: @lurk-lab/lurk-lem
